<br><br><br><br>

<div class="sidebar_content clearfix">
  <h3><%= @shoutout.header %></h3>
  <div class="partner_shout_out">
    <img src="<%= @shoutout.image1.url %>" alt="Partner Picture" />
    <p><%= @shoutout.description %></p> 
  </div>
</div>


<%= link_to 'Edit this Shoutout', edit_admin_shoutout_path(@shoutout) %> |
<%= link_to 'Back to all Shoutouts', admin_shoutouts_path %>