<% content_for :sub_nav do %>
  <li><%= link_to 'Impersonate this Business', admin_impersonate_path(:type => 'business', :id => @business.id) if current_user.admin? %></li>
  <li><%= link_to 'Business\'s Promotions', admin_promotions_path(:business_id => @business.id) %></li>
  <li><%= link_to 'Business Listing', admin_businesses_path %></li>
<% end %>

<h2>Editing business</h2>

<% form_for([:admin,@business]) do |f| %>
  <%= f.error_messages %>
  <%= f.hidden_field :latitude %>
  <%= f.hidden_field :longitude %>
  
  <div id="map_canvas"></div>
  <p>
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :phone %><br />
    <%= f.text_field :phone %>
  </p>
  <br><br>
  <p>
    <%= f.label :street1 %><br />
    <%= f.text_field :street1, :onblur => "refreshMap();" %>
  </p>
  <p>
    <%= f.label :street2 %><br />
    <%= f.text_field :street2 %>
  </p>
  <p>
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </p>
  <p>
    <%= f.label :state %><br />
    <%= f.text_field :state %>
  </p>
  <p>
    <%= f.label :zipcode %><br />
    <%= f.text_field :zipcode, :onblur => "refreshMap();" %>
  </p>
  <br>
  <%= submit_tag "Update Map", :onclick => "refreshMap(); return false;", :class => "update_map_button" %>

  <br><br><br>
  
  <p>
    <%= f.label :email, "Email Address (contact, not user)" %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :website %><br />
    <%= f.text_field :website %>
  </p>
  
  <h4>Affiliate Information</h4>
  <p>
    <%= f.label :purchaser_rate, 'Purchase Profit Share (example: 25 for 25%)' %><br />
    <%= f.text_field :purchaser_rate %>
  </p>
  <p>
    <%= f.label :subscriber_rate, 'Subscriber Rate (example: 0.52 for fifty-two cents)' %><br />
    <%= f.text_field :subscriber_rate %>
  </p>
  
  <p>
    <%= f.submit 'Update', :onclick => "refreshMap();" %>
  </p>
<% end %>

<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script type="text/javascript" src="/javascripts/admin_maps.js"></script>
<script type="text/javascript" charset="utf-8">
  function refreshMap() {
    updateMap($('#business_street1').val().replace(/\s/,'+') + '+' + $('#business_city').val().replace(/\s/,'+') + ',+' + $('#business_state').val().replace(/\s/,'+') + ',+' + $('#business_zipcode').val().replace(/\s/,'+'));
  }
  refreshMap();
</script>