<% content_for :sub_nav do %>
  <li><%= link_to 'New business', new_admin_business_path %></li>
<% end %>

<h2>Listing businesses</h2>

<table>
  <tr>
    <th>Name</th>
    <th>User</th>
    <th>Subscriber Rate</th>
    <th>Purchaser Rate</th>
    <th>Address</th>
  </tr>

<% @businesses.each do |business| %>
  <tr>
    <td><strong><%= business.name %></strong></td>
    <td><%= business.user.email %></td>
    <td><%= number_to_currency business.subscriber_rate %></td>
    <td><%= number_to_percentage business.purchaser_rate, :precision => 2 %></td>
    <td><%= business.street1 %> <%=h business.street2 %> - <%=h business.city %>, <%=h business.state %> <%=h business.zipcode %></td>
    <td><%= link_to 'Impersonate', admin_impersonate_path(:type => 'business', :id => business.id) %>&nbsp;&nbsp;&nbsp;</td>
    <td><%= link_to 'Edit', edit_admin_business_path(business) %></td>
    <td><%= link_to 'Destroy', admin_business_path(business), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>