<% content_for :sub_nav do %>
  <il><%= link_to 'RSVP List', admin_event_rsvp_list_path(@event) %></il>
  <li><%= link_to 'Show this Event', admin_event_path(@event) %></li>
  <li><%= link_to 'Event Listing', admin_events_path %></li>
<% end %>

<%= render :partial => "/admin/shared/tiny_mce" %>

<h2>Editing event</h2>

<% form_for([:admin,@event], :html => {:multipart => true}) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :subscription_list_id %> (from mailboto)<br />
    <%= f.text_field :subscription_list_id %>
  </p>
  <br>
  <p>
    <%= f.label :business_id %><br />
    <%= f.select :business_id, Business.find(:all, :order => 'name ASC').collect{|b| [b.name, b.id]} %>
  </p>
  <br><br>
  <p>
    <%= f.label :header %> (used in sidebar panel and email header)<br />
    <%= f.text_field :header %>
  </p>
  <br><br>
  <h3>Sidebar Panel</h3>
  <p>
    <%= f.label :image1, 'Main Image' %><br />
    <%= f.file_field :image1 %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description, :rows => 10, :cols => 100 %>
  </p>
  <br>
  <p>
    <%= f.label :rotation_start_date %><br />
    <%= f.datetime_select :rotation_start_date %>
  </p>
  <p>
    <%= f.label :rotation_end_date %><br />
    <%= f.datetime_select :rotation_end_date %>
  </p>
  <br><br>
  <h3>Signup Page</h3>
  <p>
    <%= f.label :image2, 'Page Image' %><br />
    <%= f.file_field :image2 %>
  </p>
  <br>
  <p>
    <%= f.label :page_body %><br />
    <%= f.text_area :page_body, :rows => 10, :cols => 100 %>
  </p>
  <br>
  <p>
    <%= f.label :start_date %><br />
    <%= f.datetime_select :start_date %>
  </p>
  <p>
    <%= f.label :end_date %><br />
    <%= f.datetime_select :end_date %>
  </p>
  <br>
  <p>
    <%= f.label :read_more_text %><br />
    <%= f.text_field :read_more_text %>
  </p>
  <br>
  <p>
    <%= f.label :attendees_max %> (0 = no max)<br />
    <%= f.text_field :attendees_max %>
  </p>
  <br>
  <p>
    <%= f.check_box :hidden %>
    <%= f.label :hidden %> (hides from sidebar, but not actual page)<br />
  </p>
  <br><br>
  <p>
    <%= label_tag :survey_question %><br />
    <%= text_field_tag :survey_question %>
  </p>
  <br><br>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>