<p>
  <b>Name:</b>
  <%=h @origin.name %>
</p>

<p>
  <b>Type:</b>
  <%=h @origin.type %>
</p>

<p>
  <b>Code:</b>
  <%=h @origin.code %>
</p>


<%= link_to 'Edit', edit_admin_origin_path(@origin) %> |
<%= link_to 'Back', admin_origins_path %>