<% Time.zone = "Eastern Time (US & Canada)" %>
<% @google_tracking = "?utm_medium=email&utm_campaign=giftsent" %>

<div id="email">

    <!-- yahoo fixes -->
    <style type="text/css">
       td.main .yshortcuts { color: #1279af }
       .featured_deal td.main .yshortcuts { color: #3fc7ff;}
       .footer .yshortcuts { color: #94BFF2;}
    </style>

   <!-- hotmail fixes -->
    <style type="text/css">  
       #mpf0_MsgContainer{display: block !important;}
    </style>


  <body style="background-color: #0059a9;margin: 0;padding: 0;">
  <table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#0059a9">
    <tr>
      <td align="center">
        <table width="600" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td>
              <table width="600" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td align="left" valign="top" style="font-size:0;"><a href="http://sowhatsthedeal.com<%= @google_tracking %>"><img src="http://sowhatsthedeal.com/emails/new_logo.png" alt="What's the Deal - " width="144" height="77" border="0"></a></td>
                  <td align="left" valign="top" style="font-size:0;"><img src="http://sowhatsthedeal.com/emails/new_banner.png" alt="Deal is" width="330" height="77"></td>
                  <td align="left" valign="top">
                    <table border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td align="left" valign="top" style="font-size:0;"><a href="http://sowhatsthedeal.com/promotions<%= @google_tracking %>"><img src="http://sowhatsthedeal.com/emails/new_currentdeals_link.png" width="126" height="38" border="0" style="border: none;"></a></td>
                      </tr>
                      <tr>
                        <td align="left" valign="top" style="font-size:0;"><a href="http://sowhatsthedeal.com/my_account<%= @google_tracking %>"><img src="http://sowhatsthedeal.com/emails/new_myaccount_link.png" width="126" height="39" border="0" style="border: none;"></a></td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td>
              <table width="600" border="0" cellspacing="0" cellpadding="0" class="featured_deal" style="background-color: #013049;">
                 <tr>
                    <td class="main" align="left" valign="top" width="600" style="padding:10px">
                      <p style="color: #ddd;font-family: 'Myriad', sans-serif;font-size: 14px;font-weight: normal;margin: 0;padding: 15px 0;text-align:left">
                        Dear <%= @coupon.user.customer.has_name? ? @coupon.user.customer.first_name : "Gift Giver" %>,
                        <br><br>
                        We wanted to let you know that the gift you purchased for <%= @coupon.gift_name %> has been successfully sent to the e-mail address you provided during checkout (<%= @coupon.gift_email %>).  As a reminder, you bought the gift below.
                      </p>  
                      <p style="color: #adc5d9;font-family: 'Myriad', sans-serif;font-size: 20px;font-weight: normal;margin: 7px 0 0 0;padding:20px; background:#012437; border: 1px solid #3d6073; text-align:center;">
                        <strong style="color: #fff"><%= @coupon.name %></strong> -- expires on: <%= @coupon.expiration.strftime("%b %e, %Y") %>
                      </p>
                      <br>
                      <p style="color: #ddd;font-family: 'Myriad', sans-serif;font-size: 14px;font-weight: normal;margin: 0;padding: 15px 0;text-align:left">
                        To see more details about your transaction, <%= link_to "access the Gift Tab", my_deals_gifts_url, :style => "color:#94BFF2" %> within your WTD account.
                        <br><br><br>
                        Thanks again for using our gift service and let us know if we can help answer any questions.
                        <br><br>
                         - the (mostly) friendly folks at What's the Deal
                        <br><br>
                        <strong>What's the Deal</strong><br>
                        <%= link_to "sowhatsthedeal.com", root_url, :style => "color:#94BFF2" %><br>
                        (888) 765-3481
                      </p>
                  </td>
               </tr>
            </table>
          </td>
        </tr>
      </table>

      <br><br>
      
      <table width="600" border="0" cellspacing="0" cellpadding="0" bgcolor="#014164" class="footer" style="margin-bottom: 20px">
        <tr>
          <td style="padding:15px">
            <p style="color: #CFCFCF;font-family: Lucida, sans-serif;font-size: 10px;font-weight: normal;line-height: 15px;margin: 0 0 10px 0;text-align: left;">Questions? Comments? Random rants? Visit our <a href="http://sowhatsthedeal.com/faq<%= @google_tracking %>" style="color: #94BFF2;font-family: Lucida, sans-serif;font-size: 10px;font-weight: normal;">Frequently Asked Questions</a> section, e-mail us at <a href="mailto:support@sowhatsthedeal.com" style="color: #94BFF2;font-family: Lucida, sans-serif;font-size: 10px;font-weight: normal;">support@sowhatsthedeal.com</a> or call us: (888) 765-3481.</p>

            <p style="color: #CFCFCF;font-family: Lucida, sans-serif;font-size: 10px;font-weight: normal;line-height: 15px;margin: 0 0 10px 0;text-align: left;">Please add <a href="mailto:sales@e.sowhatsthedeal.com" style="color: #94BFF2;font-family: Lucida, sans-serif;font-size: 10px;font-weight: normal;">sales@e.sowhatsthedeal.com</a> to your address book or safe sender list so our emails get to your inbox. This email was sent by What's the Deal, LLC | 1921 Florida Ave, NW | Washington, DC  20009 | US.</p>
          </td>
        </tr>
      </table>
    </td>
    </tr>
  </table>
  <br><br>

  </body>
</div>