<% content_for :sub_nav do %>
  <% @no_sub_nav = true %>
<% end %>
<br><br>

<div class="section_content clearfix">
  <div style="float: left;">
    <% form_tag "/admin/business_payments", :method => :get do %>
      <label>Unpaid:</label> 
      <% unless @unpaid_businesses.empty? %>
        <%= select_tag :unpaid_business_id, options_for_select([""] + @unpaid_businesses.collect{|b| [b.name + " (##{b.id})", b.id]}, params[:unpaid_business_id].to_i), :onchange => "submit()" %>
      <% else %>
        <span style="color:green">NONE! Good work!</span>
      <% end %>
    <% end %>
  </div>
  <div style="float: left;margin-left:20px">
    <% form_tag "/admin/business_payments", :method => :get do %>
      <label>Partially Paid (<span style="color:red">45+ days</span>):</label> 
      <% unless @partially_paid_businesses.empty? %>
        <select name='partially_paid_business_id' onchange="submit()">
          <option value=""></option>
          <% @partially_paid_businesses.each do |biz| %>
            <option value="<%= biz.id %>" class="<%= "late_business_payment" if biz.has_late_business_payment? %>" <%= "selected=\'selected\'" if biz.id == params[:partially_paid_business_id].to_i %>><%= biz.name %></option>
          <% end %>
        </select>
        
      <% else %>
        <span style="color:black">None</span>
      <% end %>
    <% end %>
  </div>
  <div style="float: left; margin-left: 20px">
    <% form_tag "/admin/business_payments", :method => :get do %>
      <label>Paid:</label> <%= select_tag :paid_business_id, options_for_select([""] + @paid_businesses.collect{|b| [b.name + " (##{b.id})", b.id]}, params[:paid_business_id].to_i), :onchange => "submit()" %>
    <% end %>
  </div>
</div>
<br><br>

<% if params[:business_id] %>
  <h2>All Promotions for <%= Business.find(params[:business_id]).name %></h2>
<% elsif params[:all] %>
  <h2>All Promotions</h2>
<% elsif params[:promotion_id].blank? %>
<% end %>

<div class="section_element"> 
  <div class="section_content">
    <% unless @promotions.empty? %>
      <table class="business_payments_table">
        <tr>
          <th style="text-align:left">ID</th>
          <th style="text-align:left; width:250px">Promotion Name</th>
          <th style="text-align:center">Purchased</th>
          <th style="text-align:center">Pre-Credit Rev *</th>
          <th style="text-align:center">$$ in Refunds</th>
          <th style="text-align:center">% to Business</th>
          <th style="text-align:center">Profit for WTD **</th>
          <th style="text-align:center">$$ to Business</th>
          <th style="text-align:center; width: 220px">Amounts Paid</th>
          <th style="text-align:center">Date</th>
          <th style="text-align:center">Notes</th>
          <th style="text-align:center"></th>
        </tr>

        <% @promotions.each do |promotion| %>
          <% @business_payment = BusinessPayment.find_by_promotion_id(promotion.id) %>
          <tr style="background:#F0E8D0;">
            <td style="text-align:left"><%= promotion.id %></td>
            <td style="text-align:left;font-size:80%"><strong><%= promotion.name %></strong> (ends <%= promotion.end_date.strftime("%e %b %Y") %>)</td>
            <td style="text-align:right"><%= promotion.initial_purchases %></td>
            <td style="text-align:right"><%# number_to_currency promotion.initial_revenue %> (n/c)</td>
            <td style="text-align:right"><%# number_to_currency promotion.refund_amount %> (n/c)</td>
            <td style="text-align:right"><%# number_to_percentage (100.00 - promotion.profit_percentage.to_f, :precision => 2) %> (n/c)</td>
            <td style="text-align:center"><%# number_to_currency(promotion.revenue - promotion.credit_used - promotion.business_profit) %> (n/c)</td>
            <td style="text-align:right" class="total"><%= number_to_currency promotion.business_profit %></td>

            <% form_for ([:admin,@business_payment]) do |f| %>
              <%= f.hidden_field :promotion_id, :value => promotion.id %>
              <td style="text-align:right;width:90px;font-size:90%">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= f.label :payment1_amount, "90%" %>&nbsp;<%= f.text_field :payment1_amount, :value => (@business_payment.payment1_paid? ? @business_payment.payment1_amount : @business_payment.payment1_estimate), :style => "width: 55px", :disabled => (@business_payment.payment1_paid?) %>
                <%= f.label :payment2_amount, "Remainder:" %>&nbsp;<%= f.text_field :payment2_amount, :value => (@business_payment.payment2_paid? ? @business_payment.payment2_amount : @business_payment.payment2_estimate), :style => "width: 55px", :disabled => (@business_payment.payment2_paid?) %>
              </td>
              <td>
                <%= f.text_field :payment1_date, :value => (@business_payment.payment1_date.strftime("%m/%d/%Y") unless @business_payment.payment1_date.blank?), :style => "width: 75px" %>
                <%= f.text_field :payment2_date, :value => (@business_payment.payment2_date.strftime("%m/%d/%Y") unless @business_payment.payment2_date.blank?), :style => "width: 75px" %>
              </td>
              <td>
                <%= f.text_field :payment1_notes, :style => "font-size: 10px; width:125px" %><br>
                <%= f.text_field :payment2_notes, :style => "font-size: 10px; width:125px" %>
              </td>
              <td style="text-align:left; padding-top: 13px">
                <% if @business_payment.paid? %>
                  <strong style="color: green; font-size: 20px">PAID</strong>
                <% else %>
                  <%= f.submit "Update" %>
                <% end %>
              </td>
            <% end %>
          </tr>
        <% end %>
      </table>
      <br><br>
      <p>* total money collected before refunds</p>
      <p>** after credits</p>
    <% else %>
      <p>Choose a promotion from one of the menus above.</p>
    <% end %>
  </div>
</div>

<script type="text/javascript" charset="utf-8">
  $("#business_payment_payment1_date").datepicker();
  $("#business_payment_payment2_date").datepicker();
</script>