<% content_for :page_title do %>Change Password<% end %>
<div class="section_element">
  <div class="section_header">
    <h3>Change your password</h3>
  </div>
  <div class="section_content">
    <% form_for @user do |f| %>
      <%= display_error_messages(f.error_messages) %>
      <%= hidden_field_tag :tab, 'personal' %>
      <div class="label_input_form">
        <%= f.label :password, 'Enter New Password' %>
        <%= f.password_field :password, :class => "text" %>
      </div>
      <div class="label_input_form">
        <%= f.label :password_confirmation, 'Confirm New Password' %>
        <%= f.password_field :password_confirmation, :class => "text" %>
      </div>
      <div class="form_action">
      <%= f.submit 'Update', :class => "primary small_primary" %>
      </div>
    <% end %>
  </div> 
</div>