<% content_for :page_title do %>Register For A New Account<% end %>
<% content_for :head do %>
  <meta name="title" content="<%= @promotion_code.nil? ? "What's The Deal - Sign Up For Our Daily Deal!" : "$5 off your first purchase at What's the Deal" %>" /> 
  <meta name="description" content="Free weekly happy hours and ridiculous discounts on restaurants, spas, theaters, bars, concerts, movie tickets, plays, lessons, personal training sessions, hotels, and other generally awesome things in Washington DC.  Up to 80% off list prices!" /> 
  <link rel="image_src" href="http://sowhatsthedeal.com/dc/images/wtd_montage.jpg" />

  <!-- open graph stuff -->
  <meta property="og:title" content="Never miss a deal, sign up with WTD"/>
  <meta property="og:site_name" content="What's The Deal"/>
  <meta property="og:type" content="article"/>
  <%- if params[:code] -%>
  <meta property="og:url" content="http://sowhatsthedeal.com/ref/<%= params[:code] %>"/>
  <%- else -%>
  <meta property="og:url" content="http://sowhatsthedeal.com/register"/>
  <%- end -%>
  <meta property="og:image" content="http://sowhatsthedeal.com/images/logo.png"/>
  <meta property="fb:admins" content="mburnett" />
<% end %>

<div class="section_element">
    <%= render_content("register_content_#{params[:source]}") %>  
</div>

<div class="section_element">
  <div class="section_header">
    <h3><%= @promotion_code.nil? ? "Register For A New Account" : render_content('referral_signup_header') %></h3>
  </div>
  
  <div class="section_content our_daily_deal">
    <%= render_content 'referral_signup_desc' unless @promotion_code.nil? %>
    
    <% form_for @user do |f| %>
      <%= display_error_messages(f.error_messages) unless @quietly_create %>
      <% f.fields_for :customer do |cf| %>
        <div class="label_input_form <%= 'fieldWithErrors' if @user.customer.first_name == Customer::STOCK_FIRST_NAME %>">
          <%= cf.label :first_name %>
          <%= cf.text_field :first_name, :class => "text" %>
        </div>
        <div class="label_input_form  <%= 'fieldWithErrors' if @user.customer.last_name == Customer::STOCK_LAST_NAME %>">
          <%= cf.label :last_name %>
          <%= cf.text_field :last_name, :class => "text" %>
        </div>
      <% end %>
      <div class="label_input_form">
        <%= f.label :email %>
        <%= f.text_field :email, :class => "text" %>
      </div>
      <div class="label_input_form">
        <%= f.label :password %>
        <%= f.password_field :password, :class => "text", :value => "" %>
      </div>
      <div class="label_input_form">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, :class => "text", :value => "" %>
      </div>

      <div class="label_input_form">
        <%= label_tag 'Referral Code (Optional):' %>
        <%= text_field_tag :referral_code, session[:stored_promotion_code_id].blank? ? params[:referral_code] : PromotionCode.find(session[:stored_promotion_code_id]).code, :class => "text" %>
      </div>

      <div class="label_input_form">
        <%= f.label :gets_daily_deal_email, "Daily Deal Subscriber" %>
        <%= f.check_box :gets_daily_deal_email, :checked => true %>
      </div>
      <div class="label_input_form">
        <%= f.label :gets_happy_hour_announcement_email, "Happy Hour Announcement" %>
        <%= f.check_box :gets_happy_hour_announcement_email, :checked => true %>
      </div>
      
      <div class="form_action">
        <%= f.submit 'Register', :class => "primary small_primary" %>
      </div>

    <% end %>

    <%= render_content 'referral_signup_bottom_page' unless @referral.nil? %>
  </div>
</div>