<% content_for :page_title do %>Reset Password<% end %>
<div class="section_element">
  <div class="section_header">
    <h3>Create a new password</h3>
  </div>
  <div class="section_content">
    <% form_for :user, :url => {:action => 'update_password'} do |f| %>
      <%= display_error_messages(f.error_messages) %>
      <%= hidden_field_tag :id, params[:id] %>
      <div class="label_input_form">
        <%= f.label :password, 'Enter New Password' %>
        <%= f.password_field :password, :class => "text" %>
      </div>
      <div class="label_input_form">
        <%= f.label :password_confirmation, 'Confirm New Password' %>
        <%= f.password_field :password_confirmation, :class => "text" %>
      </div>
      <div class="form_action">
      <%= f.submit 'Save', :class => "primary small_primary" %>
      </div>
    <% end %>
  </div> 
</div>