<% content_for :page_title do %>Your Recent Purchase<% end %>
  <div class="section_element">  
    <div class="section_header">
      <h3>Purchase Details</h3>
    </div>
    <div class="section_content">
      <div class="purchase_show_content clearfix">
        <% if @track_transaction %>
          <div class="coupons_ready_note">
            <p>Your coupon(s) will be available after tonight at midnight if the deal has reached the minimum and can be printed directly from your account.<br><br></p>
          </div>
        <% end %>
        <dl class="purchase_show_payment_info clearfix">
          <dt>Invoice number:</dt>
          <dd><%=h @purchase.invoice_number %></dd>
        
          <dt>Purchase date:</dt>
          <dd><%=h @purchase.created_at.to_date %></dd>
        
          <dt>Deals Purchased:</dt>
          <dd><%= @purchase.coupons.count %></dd>

          <% unless @purchase.credits.empty? %>
            <dt>WTD Credit used:</dt>
            <dd><%= number_to_currency([@purchase.credits.collect{|c| c.value}.to_a.sum, @purchase.deals_total].min, :precision => 0) %></dd>
          <% end %>
        
          <dt>Total<%= " (after credits)" unless @purchase.credits.empty? %>:</dt>
          <dd><%= number_to_currency @purchase.total %></dd>
        </dl>
      </div>
    
      <table class="simple_table">
        <tr>
          <th>Coupon</th>
          <th>Expiration</th>
          <td></td>
        </tr>
        <% @purchase.coupons.each do |coupon| %>
          <tr class="<%= "highlight" if coupon.id == params[:coupon].to_i %>">
            <td><%=h coupon.name %><%= " [gift for #{coupon.gift_name}]" if coupon.gift? %></td>
            <td><%=h coupon.expiration.strftime("%m/%d/%Y") %></td>
          </tr>
        <% end %>
      </table>
      
    </div>  
  </div>

  <div class="section_element share_purchase">
    <p>Excited about your deal? Share your excitement on the interwebs!</strong></p>
    <br>
    <p>
      <% @deal = @purchase.coupons.first.deal %>
      <span><a target="_blank" href="https://www.facebook.com/share.php?u=<%= CGI::escape promotion_slug_url(@deal.promotion.slug) %>"><img src="/images/facebook.png" /></a></span>
      <span><a target="_blank" href="https://twitter.com/home?status=<%= CGI::escape "I just saved #{number_to_percentage(@deal.savings, :precision => 0)} at #{@deal.promotion.business.name} from @whatsthedealdc, you should too. http://wtddc.com#{promotion_slug_path @deal.promotion.slug}" %>"><img src="/images/twitter.png" /></a></span>
    </p>
  </div>
  
  <% if @track_transaction and !@mapped_promotions.empty? %>
    <div class="promotions_map purchase_invoice">
      <div class="section_content">
        <div class="change_location">Not the right location? <%= link_to "Update your address", clear_location_path %>.</div>
      </div>
      <div class="promotion_listing_sidebar">
        <h3>Deals on the Map</h3>
        <ul class="mapped_promotions">
          <% @mapped_promotions.each do |promotion| %>
            <li><%= link_to promotion.name, "#", :onclick => "$('.promotion_listing_sidebar .mapped_promotions a.current').removeClass('current'); $(this).addClass('current'); resetMarkers(); resetInfoWindows(); marker_#{promotion.id}.setOptions({icon: '/images/map_marker_on.png'}); info_window_#{promotion.id}.open(map, marker_#{promotion.id}); return false;", :id => "promotion_listing_sidebar_link_#{promotion.id}" %></li>
          <% end %>
        </ul>

        <% unless @unmapped_promotions.empty? %>
          <h3>Online Deals</h3>
          <ul>
            <% @unmapped_promotions.each do |promotion| %>
              <li><%= link_to promotion.name, promotion_slug_path(promotion.slug) %></li>
            <% end %>
          </ul>
        <% end %>
      </div>
      <%= render :partial => "/promotions/map", :locals => {:promotions => @mapped_promotions, :height => 400} %>
    </div>
  <% end %>
  
  <%= link_to @track_transaction ? 'Continue to My Deals' : 'Back to My Deals', my_deals_path %>
  
</div>

<% if @track_transaction %>
  <% content_for :scripts do %>
    <!-- local offer lounge -->
    <% @cart.cart_items.each do |cart_item| %>
      <iframe src="https://www.lontrk.com/confirm?type=sale&aid=1013&ref=<%= @purchase.invoice_number %>&qty=<%= cart_item.quantity %>&price=<%= cart_item.deal.price %>&item_id=<%= cart_item.deal.promotion.id %>&status=<%= cart_item.deal.promotion.quota_met? ? 'confirmed' : 'pending' %>" scrolling="no" frameborder="0" width="1" height="1"></iframe>
    <% end %>
    
    <!-- google analytics ecommerce tracking -->
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-9745141-1']);
      _gaq.push(['_trackPageview']);
      _gaq.push(['_addTrans',
        '<%= @purchase.invoice_number %>',  // order ID - required
        'What\'s the Deal',                 // affiliation or store name
        '<%= @purchase.total %>',           // total - required
        '0',                                // tax
        '0',                                // shipping
        '<%= @purchase.billing_city %>',    // city
        '<%= @purchase.billing_state %>',   // state or province
        'USA'                               // country
      ]);

      <% @purchase.coupons.each do |coupon| %>
         // add item might be called for every item in the shopping cart
        _gaq.push(['_addItem',
          '<%= @purchase.invoice_number %>',  // order ID - required
          '<%= coupon.deal.code %>',          // SKU/code
          '<%= coupon.name %>',               // product name
          '',                                 // category or variation
          '<%= coupon.deal.price %>',         // unit price - required
          '1'                                 // quantity - required
        ]);
      <% end %>
      _gaq.push(['_trackTrans']);           //submits transaction to the Analytics servers
    
    
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ga);
      })();

    </script>
  <% end %>
  
<% end %>