<% content_for :page_title do %>Your Recent Purchase<% end %>
  <div class="section_element">  
    <div class="section_header">
      <h3>Purchase Details</h3>
    </div>
    <div class="section_content">
      <div class="purchase_show_content clearfix">
        <% if @track_transaction %>
          <div class="coupons_ready_note">
            <p>Your coupon(s) will be available after tonight at midnight if the deal has reached the minimum and can be printed directly from your account.<br><br></p>
          </div>
        <% end %>
        <dl class="purchase_show_payment_info clearfix">
          <dt>Invoice number:</dt>
          <dd><%=h @purchase.invoice_number %></dd>
        
          <dt>Purchase date:</dt>
          <dd><%=h @purchase.created_at.to_date %></dd>
        
          <dt>Deals Purchased:</dt>
          <dd><%= @purchase.coupons.size %> <%= "<span class='refunded'>(#{@purchase.refund.coupons.size} refunded)</span>" unless @purchase.refund.nil? %></dd>

          <% unless @purchase.credits.empty? %>
            <dt>WTD Credit used:</dt>
            <dd><%= number_to_currency([@purchase.credits.collect{|c| c.value}.to_a.sum, @purchase.deals_total].min, :precision => 0) %></dd>
          <% end %>
        
          <dt>Total<%= " (after credits)" unless @purchase.credits.empty? %>:</dt>
          <dd><%= number_to_currency @purchase.total %> <%= "<span class='refunded'>(#{number_to_currency (@purchase.refund.cc_amount + @purchase.refund.credit_amount)} refunded)</span>" unless @purchase.refund.nil? %></dd>
        </dl>
      </div>
    
      <table class="simple_table">
        <tr>
          <th>Coupon</th>
          <th>Expiration</th>
        </tr>
        <% @purchase.coupons.each do |coupon| %>
          <tr class="<%= "highlight" if coupon.id == params[:coupon].to_i %>">
            <td><%=h coupon.name %><%= " [gift for #{coupon.gift_name}]" if coupon.gift? %></td>
            <td><%=h coupon.expiration.strftime("%m/%d/%Y") %></td>
          </tr>
        <% end %>
      </table>
      
      <br><br>
      
      <% unless @purchase.refund.nil? or @purchase.refund.coupons.empty? %>
        <h4>There was a <span class="refunded">refund</span> issued for this purchase</h4>
        <dl class="purchase_show_payment_info clearfix">
          <dt>Date Processed:</dt>
          <dd><%= @purchase.refund.created_at.strftime "%B, %e %Y at %H:%M %p" %></dd>
        </dl>
        <dl class="purchase_show_payment_info clearfix">
          <dt>Issued to Credit Card:</dt>
          <dd><%= number_to_currency @purchase.refund.cc_amount %></dd>
        </dl>
        <dl class="purchase_show_payment_info clearfix">
          <dt>Issued as WTD Credit:</dt>
          <dd><%= number_to_currency @purchase.refund.credit_amount %></dd>
        </dl>
        
        <table class="simple_table">
          <tr>
            <th>Refunded Coupon</th>
            <td></td>
          </tr>
          <% @purchase.refund.coupons.each do |coupon| %>
            <tr>
              <td class="refunded"><%= coupon.name %></td>
            </tr>
          <% end %>
        </table>
      <% end %>
      
    </div>  
  </div>

  <div class="section_element share_purchase">
    <p>Excited about your deal? Share your excitement on the interwebs!</strong></p>
    <br>
    <p>
      <% @deal = @purchase.coupons.first.deal %>
      <span><a target="_blank" href="https://www.facebook.com/share.php?u=<%= CGI::escape promotion_slug_url(@deal.promotion.slug) %>"><img src="/images/facebook.png" /></a></span>
      <span><a target="_blank" href="https://twitter.com/home?status=<%= CGI::escape "I just saved #{number_to_percentage(@deal.savings, :precision => 0)} at #{@deal.promotion.business.name} from @whatsthedealdc, you should too. http://wtddc.com#{promotion_slug_path @deal.promotion.slug}" %>"><img src="/images/twitter.png" /></a></span>
    </p>
  </div>
  
  <% if !mobile and @track_transaction and !@mapped_promotions.empty? %>
    <div class="promotions_map purchase_invoice">
      <div class="section_content">
        <div class="change_location">Not the right location? <%= link_to "Update your address", clear_location_path %>.</div>
      </div>
      <div class="promotion_listing_sidebar">
        <h3>Deals on the Map</h3>
        <ul class="mapped_promotions">
          <% @mapped_promotions.each do |promotion| %>
            <li><%= link_to promotion.name, "#", :onclick => "$('.promotion_listing_sidebar .mapped_promotions a.current').removeClass('current'); $(this).addClass('current'); resetMarkers(); resetInfoWindows(); marker_#{promotion.id}.setOptions({icon: '/images/map_marker_on.png'}); info_window_#{promotion.id}.open(map, marker_#{promotion.id}); return false;", :id => "promotion_listing_sidebar_link_#{promotion.id}" %></li>
          <% end %>
        </ul>

        <% unless @unmapped_promotions.empty? %>
          <h3>Online Deals</h3>
          <ul>
            <% @unmapped_promotions.each do |promotion| %>
              <li><%= link_to promotion.name, promotion_slug_path(promotion.slug) %></li>
            <% end %>
          </ul>
        <% end %>
      </div>
      <%= render :partial => "/promotions/map", :locals => {:promotions => @mapped_promotions, :height => 400} %>
    </div>
  <% end %>
  
  <%= link_to @track_transaction ? 'Continue to My Deals' : 'Back to My Deals', my_deals_path %>
  
</div>

<% if @track_transaction %>
  <% content_for :scripts do %>
    <!-- local offer lounge -->
    <% @cart.cart_items.each do |cart_item| %>
      <iframe src="https://www.lontrk.com/confirm?type=sale&aid=1013&ref=<%= @purchase.invoice_number %>&qty=<%= cart_item.quantity %>&price=<%= cart_item.deal.price %>&item_id=<%= cart_item.deal.promotion.id %>&status=<%= cart_item.deal.promotion.quota_met? ? 'confirmed' : 'pending' %>" scrolling="no" frameborder="0" width="1" height="1"></iframe>
    <% end %>
    
    <!-- google analytics ecommerce tracking -->
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-9745141-1']);
      _gaq.push(['_trackPageview']);
      _gaq.push(['_addTrans',
        '<%= @purchase.invoice_number %>',  // order ID - required
        'What\'s the Deal',                 // affiliation or store name
        '<%= @purchase.total %>',           // total - required
        '0',                                // tax
        '0',                                // shipping
        '<%= @purchase.billing_city %>',    // city
        '<%= @purchase.billing_state %>',   // state or province
        'USA'                               // country
      ]);

      <% @purchase.coupons.each do |coupon| %>
         // add item might be called for every item in the shopping cart
        _gaq.push(['_addItem',
          '<%= @purchase.invoice_number %>',  // order ID - required
          '<%= coupon.deal.code %>',          // SKU/code
          '<%= coupon.name %>',               // product name
          '',                                 // category or variation
          '<%= coupon.deal.price %>',         // unit price - required
          '1'                                 // quantity - required
        ]);
      <% end %>
      _gaq.push(['_trackTrans']);           //submits transaction to the Analytics servers
    
    
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ga);
      })();

    </script>
  <% end %>
  
<% end %>

<% if @show_nova_popup %>
<div id="alt_list_overlay" style="display: none">
  <div class="overlay_content">
    <%= link_to "x", my_deals_path, :id => 'overlay_close', :title => "Close Window" %>
    <p><%= image_tag "/images/logo.png", :class => "logo" %><%= render_content 'alt_list_text' %></p>
    <% form_for(@user) do |f| %>
      <%= hidden_field_tag :tab, 'email' %>
      <div class="email_preferences alt_list_popup">
        <table>
          <tr>
            <td class="checkboxes"><%= f.check_box :gets_va_daily_deal_email, :checked => true, :class => 'styled' %></td>
            <td class="list_name"><strong>Northern Virginia</strong><br>&nbsp;&nbsp; - Arlington, Alexandria, etc</td>
          </tr>
          <tr>
            <td class="checkboxes"><%= f.check_box :gets_md_daily_deal_email, :checked => true, :class => 'styled' %></td>
            <td class="list_name"><strong>Suburban Maryland</strong><br>&nbsp;&nbsp; - Bethesda, Chevy Chase, etc</td>
          </tr>
        </table>
      </div>
      <div class="overlay_submit"><%= f.submit "Sign Me Up", :class => 'primary' %></div>
    <% end %>
  </div>
</div>
<script type="text/javascript" charset="utf-8">
  function showOverlay() {
    $('#alt_list_overlay').fadeIn('slow'); 
  }
  function closeOverlay() {
    $('#alt_list_overlay').fadeOut('slow');
    return false;
  }
  $('#alt_list_overlay #overlay_close').click(closeOverlay);
  setTimeout(showOverlay, 750);
</script>
<script type="text/javascript" charset="utf-8">
/*

CUSTOM FORM ELEMENTS

Created by Ryan Fait
www.ryanfait.com

The only things you may need to change in this file are the following
variables: checkboxHeight, radioHeight and selectWidth (lines 24, 25, 26)

The numbers you set for checkboxHeight and radioHeight should be one quarter
of the total height of the image want to use for checkboxes and radio
buttons. Both images should contain the four stages of both inputs stacked
on top of each other in this order: unchecked, unchecked-clicked, checked,
checked-clicked.

You may need to adjust your images a bit if there is a slight vertical
movement during the different stages of the button activation.

The value of selectWidth should be the width of your select list image.

Visit http://ryanfait.com/ for more information.

*/

var checkboxHeight = "40";
var radioHeight = "25";
var selectWidth = "190";


/* No need to change anything after this */


document.write('<style type="text/css">input.styled { display: none; } select.styled { position: relative; width: ' + selectWidth + 'px; opacity: 0; filter: alpha(opacity=0); z-index: 5; } .disabled { opacity: 0.5; filter: alpha(opacity=50); }</style>');

var Custom = {
	init: function() {
		var inputs = document.getElementsByTagName("input"), span = Array(), textnode, option, active;
		for(a = 0; a < inputs.length; a++) {
			if((inputs[a].type == "checkbox" || inputs[a].type == "radio") && inputs[a].className == "styled") {
				span[a] = document.createElement("span");
				span[a].className = inputs[a].type;

				if(inputs[a].checked == true) {
					if(inputs[a].type == "checkbox") {
						position = "0 -" + (checkboxHeight*2) + "px";
						span[a].style.backgroundPosition = position;
					} else {
						position = "0 -" + (radioHeight*2) + "px";
						span[a].style.backgroundPosition = position;
					}
				}
				inputs[a].parentNode.insertBefore(span[a], inputs[a]);
				inputs[a].onchange = Custom.clear;
				if(!inputs[a].getAttribute("disabled")) {
					span[a].onmousedown = Custom.pushed;
					span[a].onmouseup = Custom.check;
				} else {
					span[a].className = span[a].className += " disabled";
				}
			}
		}
		inputs = document.getElementsByTagName("select");
		for(a = 0; a < inputs.length; a++) {
			if(inputs[a].className == "styled") {
				option = inputs[a].getElementsByTagName("option");
				active = option[0].childNodes[0].nodeValue;
				textnode = document.createTextNode(active);
				for(b = 0; b < option.length; b++) {
					if(option[b].selected == true) {
						textnode = document.createTextNode(option[b].childNodes[0].nodeValue);
					}
				}
				span[a] = document.createElement("span");
				span[a].className = "select";
				span[a].id = "select" + inputs[a].name;
				span[a].appendChild(textnode);
				inputs[a].parentNode.insertBefore(span[a], inputs[a]);
				if(!inputs[a].getAttribute("disabled")) {
					inputs[a].onchange = Custom.choose;
				} else {
					inputs[a].previousSibling.className = inputs[a].previousSibling.className += " disabled";
				}
			}
		}
		document.onmouseup = Custom.clear;
	},
	pushed: function() {
		element = this.nextSibling;
		if(element.checked == true && element.type == "checkbox") {
			this.style.backgroundPosition = "0 -" + checkboxHeight*3 + "px";
		} else if(element.checked == true && element.type == "radio") {
			this.style.backgroundPosition = "0 -" + radioHeight*3 + "px";
		} else if(element.checked != true && element.type == "checkbox") {
			this.style.backgroundPosition = "0 -" + checkboxHeight + "px";
		} else {
			this.style.backgroundPosition = "0 -" + radioHeight + "px";
		}
	},
	check: function() {
		element = this.nextSibling;
		if(element.checked == true && element.type == "checkbox") {
			this.style.backgroundPosition = "0 0";
			element.checked = false;
		} else {
			if(element.type == "checkbox") {
				this.style.backgroundPosition = "0 -" + checkboxHeight*2 + "px";
			} else {
				this.style.backgroundPosition = "0 -" + radioHeight*2 + "px";
				group = this.nextSibling.name;
				inputs = document.getElementsByTagName("input");
				for(a = 0; a < inputs.length; a++) {
					if(inputs[a].name == group && inputs[a] != this.nextSibling) {
						inputs[a].previousSibling.style.backgroundPosition = "0 0";
					}
				}
			}
			element.checked = true;
		}
	},
	clear: function() {
		inputs = document.getElementsByTagName("input");
		for(var b = 0; b < inputs.length; b++) {
			if(inputs[b].type == "checkbox" && inputs[b].checked == true && inputs[b].className == "styled") {
				inputs[b].previousSibling.style.backgroundPosition = "0 -" + checkboxHeight*2 + "px";
			} else if(inputs[b].type == "checkbox" && inputs[b].className == "styled") {
				inputs[b].previousSibling.style.backgroundPosition = "0 0";
			} else if(inputs[b].type == "radio" && inputs[b].checked == true && inputs[b].className == "styled") {
				inputs[b].previousSibling.style.backgroundPosition = "0 -" + radioHeight*2 + "px";
			} else if(inputs[b].type == "radio" && inputs[b].className == "styled") {
				inputs[b].previousSibling.style.backgroundPosition = "0 0";
			}
		}
	},
	choose: function() {
		option = this.getElementsByTagName("option");
		for(d = 0; d < option.length; d++) {
			if(option[d].selected == true) {
				document.getElementById("select" + this.name).childNodes[0].nodeValue = option[d].childNodes[0].nodeValue;
			}
		}
	}
}
window.onload = Custom.init;</script>
<% end %>


<% if @show_demo_survey and (@user.customer.zipcode.blank? or @user.customer.female.nil?) %>
  <div id="overlay" style="display: none">
    <div class="overlay_content">
      <%= link_to "x", my_deals_path, :id => 'overlay_close', :title => "Close Window" %>
      <p><%= render_content 'demographic_survey_text' %></p>
      <% form_for(@user) do |f| %>
        <%= hidden_field_tag :tab, 'personal' %>
        <% f.fields_for :customer do |cf| %>
          <% if @user.customer.zipcode.blank? %>
            <div class="label_input_form">
              <%= cf.label :zipcode, 'Zip Code', :class => 'zipcode_label' %>
              <%= cf.text_field :zipcode, :class => "text zipcode" %>
            </div>
          <% end %>
          <% if @user.customer.female.nil? %>
            <div class="label_input_form">  
              <%= cf.label :gender %>
              <div class="radio_buttons">        
                <%= cf.radio_button :female, true, :id => 'user_customer_attributes_female' %>
                <%= cf.label :female %>
                <%= cf.radio_button :female, false, :id => 'user_customer_attributes_male', :checked => @user.customer.female == 0 %>
                <%= cf.label :male %>
              </div>          
            </div> 
          <% end %> 
          <div class="overlay_submit"><%= f.submit "Save", :class => 'primary' %></div>
        <% end %>
      <% end %>
    </div>
  </div>
  
  <script type="text/javascript" charset="utf-8">
    $('#overlay form').submit(
      function(){
        $.ajax({
          type: 'post',
          data: $(this).serialize(),
          dataType: 'script',
          success: closeOverlay(),
          url: $(this).attr('action')
        });
        return false;
      }
    );
  
    function showOverlay() {
      $('#overlay').fadeIn('slow'); 
    }
    function closeOverlay() {
      $('#overlay').fadeOut('slow');
      return false;
    }
    $('#overlay #overlay_close').click(closeOverlay)
    setTimeout(showOverlay, 750);
  </script>
<% end %>