<% content_for :sub_nav do %>
  <li><%= link_to 'All Voids', admin_voids_path %></li>
<% end %>

<h2>Void for <%= @void.purchase.user.email %></h2>

<div class="section_content">
  <h4>Void Details</h4>
  <p>
    <%= label_tag "Created" %>:
    <strong><%= @void.created_at.strftime "%B, %e %Y at %H:%M %p" %></strong>
  </p>

  <p>
    <%= label_tag "Purchase" %>:
    <strong><%= link_to @void.purchase_id, admin_purchase_path(@void.purchase_id) %></strong>
  </p>
  
  <% if @void.processed? %>
  <p>
    <%= label_tag "Processed" %>:
    <strong style="color: green">YES</strong>
  </p>
  <p>
    <%= label_tag "Processing Date" %>:
    <strong><%= @void.updated_at.strftime "%B, %e %Y at %H:%M %p" %></strong>
  </p>
  <% else %>
  <p>
    <%= label_tag "Processed" %>:
    <strong style="color:red">NO</strong>
  </p>
  <br>
    <% form_tag admin_process_void_path(@void) do %>
      <%= submit_tag "Mark as Processed" if current_user.admin? %>
    <% end %>
  <% end %>
    
  <br>
  <p>
    <%= label_tag "Adjusted Amount (amount captured)" %>:
    <strong><%= @void.purchase.total > 0 ? number_to_currency(@void.purchase.total) : "(VOID)" %></strong>
  </p>
  <br><br>
  <h4>Coupons Voided</h4>
  <table>
  <% @void.coupons.each do |coupon| %>
    <tr>
      <td><%= coupon.user.email %></td>
      <td><%= coupon.user.customer.name %></td>
      <td><%= coupon.confirmation_code %></td>
      <td><%= coupon.name %></td>
    </tr>
  <% end %>
  </table>
</div>