<% content_for :page_title do %>All Current Deals<% end %>

<div class="promotion_index event_index">
  <% @promotions.each do |promotion| %>
    <div class="promotion">
      <div class="main_details clearfix">
        <div class="promotion_image">
          <%= link_to image_tag(promotion.image1.url, :alt => promotion.name), promotion %>
        </div>
        <% if promotion.deals.active.count > 1 %>
          <%= link_to "See #{promotion.deals.active.count > 2 ? "All<br>#{promotion.deals.active.count}" : "Both<br>"} Offers", promotion, :class => "multi_deal_badge" %>
        <% end %>
        <div class="event_content clearfix">
          <h2 class="<%= 'mutli_deal_header' if promotion.deals.active.count > 1 %>"><%= link_to promotion.name, promotion %></h2>
          <div class="buying_details clearfix">
            <div class="single_deal clearfix">
              <dl class="clearfix">
                <dt>You Pay</dt><dd><%= number_to_currency promotion.featured_deal.price, :precision => (has_cents?(promotion.featured_deal.price) ? 2 : 0) %></dd>
              </dl>
              <dl class="clearfix">
                <dt>Value</dt><dd><%= number_to_currency promotion.featured_deal.value, :precision => (has_cents?(promotion.featured_deal.value) ? 2 : 0) %></dd>
              </dl>
            </div>
          </div>
          <div class="event_details">
            <p><%= truncate strip_tags(promotion.body1), :length => 170 %></p>
            <br>
            <%= link_to "Event Details", promotion, :class => 'secondary' %>
          </div>
        
          <!--
          <div class="promotion_info_strip clearfix">
            <div class="time_left <%= 'almost_over' if promotion.almost_over? %>">
              <% if promotion.active %>
                Time Left:&nbsp;&nbsp;<strong><%= distance_of_time_in_words_to_now(promotion.end_date) %></strong>
              <% else %>
                <div class="promotion_ended">Sorry, but this deal is over</div>
              <% end %>
            </div>
            <div class="purchases"><strong><%= promotion.inventory - promotion.purchases %></strong>&nbsp;&nbsp;tickets left</div>
          </div>
          --> 
        </div>
      </div>
      <div class="ie_clear"></div>
    </div>
  <% end %>

  <% @events.each do |event| %>
    <div class="promotion">
      <div class="main_details clearfix">
        <div class="promotion_image">
          <%= link_to image_tag(event.image1.url, :alt => event.header), event %>
        </div>
        <div class="event_content">
          <h2><%= link_to event.header, event %></h2>
          <div class="buying_details clearfix">
            <div class="single_deal clearfix">
              <dl class="clearfix">
                <dt>You Pay</dt><dd class="orange">FREE</dd>
              </dl>
            </div>
          </div>
          <div class="event_details">
            <p><%= truncate strip_tags(event.description), :length => 300 %></p>
            <br>
            <%= link_to "Event Details", event, :class => 'secondary' %>
          </div>
          <div class="promotion_info_strip clearfix">
            <div class="time_left">
              Date:&nbsp;&nbsp;<strong><%= event.start_date.strftime("%A, %b %d") %></strong>
            </div>
            <div class="purchases"><strong><%= event.attendees.size %></strong>&nbsp;&nbsp;attending</div>
          </div>
        </div>
      </div>
      <div class="ie_clear"></div>
    </div>
  <% end %>
</div>