<div class="section_element">
  <div class="section_header">
    <h3>Edit Gift Information</h3>
  </div>

  <div class="section_content edit_gift_form">
    <h4 class="gift_info"><%= image_tag '/images/promo_gift.png' %> <strong><%= @cart_item.deal.coupon_name %></strong></h4>

    <% form_for @cart_item do %>
      <%= hidden_field_tag :editing_gift, true %>
      <%= hidden_field_tag "cart_items[deal_id]", @cart_item.deal.id %>

      <div class="label_input_form">
        <%= label_tag :quantity %>
        <%= select_tag "cart_item[quantity]", options_for_select(0..([@cart_item.deal.inventory_remaining, @cart_item.deal.purchase_limit_remaining(cart, @cart_item.gift_name) + @cart_item.quantity].min), @cart_item.quantity) %>
      </div>
      
      <%= render :partial => "gift", :locals => {:gift => @cart_item} %>
      
      <%= submit_tag "Update Gift", :class => 'primary' %>&nbsp;&nbsp;&nbsp;&nbsp;or&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to "Cancel", my_cart_path %>
    <% end %>
  </div>
</div>