<br><br>
<h2>Listing promotions</h2>

<table class="business_table">
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Deals</th>
    <th>Purchases</th>
    <th>Quota</th>
    <th>Live on WTD?</th>
    <th>End date</th>
  </tr>

<% @promotions.each do |promotion| %>
  <tr>
    <td><%=h promotion.id %></td>
    <td class="align_left"><%= link_to promotion.name, promotion_slug_path(promotion.slug) %></td>
    <td><%=h promotion.deals.count %></td>
    <td><strong><%= link_to promotion.purchases, :controller => 'purchases', :action => 'index', :promotion_id => promotion.id %></strong></td>
    <td><%=h promotion.quota %></td>
    <td class="<%= "green" if promotion.active? %>"><%=h promotion.active? ? "Yes" : "No" %></td>
    <td class="last"><%=h (promotion.end_date - 4.hours).strftime("%b %e, %Y") %></td>
    <td class="extra"><%= link_to "Purchase Report", :controller => 'purchases', :action => 'index', :promotion_id => promotion.id %> | <%= link_to "Demographics", business_purchase_stats_path(:promotion_id => promotion.id) %></td>
  </tr>
<% end %>
</table>

<div class="bottom_link_next_page">
  <%= link_to "Back to Home", business_home_path %>
</div>