<h1>Staff Members</h1>
<br>
<%= link_to 'New Staff Member', new_business_business_staff_path, :class => "submit primary" %></li>
<br><br>

<div class="section_content">
  <% unless @business_staffs.empty? %>
    <p>The following people have access to your purchase list, but not financial agreements between you and WTD.</p>
    <ul>
      <% @business_staffs.each do |bs| %>
      <li><strong><%= bs.name %> </strong>(<%= bs.user.email %>) - <%= link_to 'Delete', business_business_staff_path(bs.id), :method => :delete, :class => "red" %></li>
      <% end %>
    </ul>
  <% else %>
    <p><strong class="notice">How to Use:</strong> Click the "New Staff Member" button and fill out information.</p>
  <% end %>
</div>

<div class="bottom_link_next_page">
  <%= link_to "Back to Home", business_home_path %>
</div>