<% content_for :sub_nav do %>
  <li><%= link_to 'New Misc Entry', new_admin_misc_path %></li>
<% end %>


<h2>Listing Misc Items</h2>

<table>
  <tr>
    <th>Key</th>
    <th>Value</th>
  </tr>

<% @miscs.each do |misc| %>
  <tr class="misc_entry">
    <td><%= misc.key %></td>
    <td><%= strip_tags truncate(misc.value, :length => 100) %></td>
    <td><%= link_to 'Edit', edit_admin_misc_path(misc) %></td>
    <td><%= link_to 'Destroy', admin_misc_path(misc), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>