<% content_for :sub_nav do %>
  <li><%= link_to 'Misc Listing', admin_miscs_path %></li>
<% end %>

<%= render :partial => "/admin/shared/tiny_mce" %>

<h2>New Misc Item</h2>

<% form_for([:admin,@misc]) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :key %><br />
    <%= f.text_field :key %><br><br>
  </p>
  <p>
    <%= f.label :value %><br />
    <%= f.text_field :value %><br><br>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>