<html>
  <head>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript"></script>
  </head>
  <body>
    <p>Click in the box, do a "select all" then copy!</p>
    <textarea id="fe_text">loading...</textarea>
    
    <div id="email">

    <!-- yahoo fixes -->
    <style type="text/css">
      td.main .yshortcuts { color: #1279af }
      .featured_deal td.main .yshortcuts { color: #3fc7ff;}
      .footer .yshortcuts { color: #94BFF2;}
    </style>

    <!-- hotmail fixes -->
    <style type="text/css">  
      #mpf0_MsgContainer{display: block !important;}
    </style>


    <body style="background-color: #0059a9;margin: 0;padding: 0;">


    <table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#0059a9">
      <tr>
        <td align="center">
          <table width="600" border="0" cellspacing="0" cellpadding="0" bgcolor="#013049" style="margin-bottom: 20px">
            <tr>
              <td>
                <a href="http://sowhatsthedeal.com<%= @google_tracking %>"><img src="http://sowhatsthedeal.com/emails/<%= @deal_region == 2 ? 'trans1_nova_header' : 'trans1_header' %>.png" alt="WTD - " width="600" height="89" border="0"></a>
              </td>
            </tr>
            
            <tr>
              <td style="padding: 10px">
                <table width="580" border="0" cellspacing="0" cellpadding="0">
                  <!-- deal header -->
                  <tr>
                    <td>
                      <table width="580" border="0" cellspacing="0" cellpadding="0" style="padding: 10px;text-align:center" bgcolor="#012437">
                        <tr>
                          <td colspan="4">
                            <h1 style="font-family: 'Myriad', sans-serif;font-weight: normal;margin: 0 0 5px 0;padding:3px;text-align:center"><a href="<%= promotion_slug_url(@promotion.slug) %><%= @google_tracking %>" style="color: #3fc7ff !important;font-family: 'Myriad', sans-serif;font-size: 20px;font-weight: normal;text-decoration: none !important;"><%= @promotion.name %></a></h1>
                          </td>
                        </tr>
                        <tr>
                          <td valign="middle" align="center">
                            <span style="color: #adc5d9;font-family: 'Myriad', sans-serif;font-size: 20px;font-weight: normal;margin-right:3px;padding: 0;">value:</span> <span style="font-family: 'Myriad', sans-serif;font-size: 20px;font-weight: normal;padding: 0;color: #adc5d9;"><strong style="color: #ffffff;"><%= has_cents?(@promotion.featured_deal.value) ? number_to_currency(@promotion.featured_deal.value, :precision => 2) : number_to_currency(@promotion.featured_deal.value, :precision => 0) %></strong></span>
                          </td>
                          <td valign="middle" align="center" width="150">
                            <span style="color: #adc5d9;font-family: 'Myriad', sans-serif;font-size: 20px;font-weight: normal;margin-right:3px;padding: 0;">discount:</span> <span style="font-family: 'Myriad', sans-serif;font-size: 20px;font-weight: normal;padding: 0;color: #adc5d9;"><strong style="color: #ffffff;"><%= number_to_percentage (1 - @promotion.featured_deal.price.to_f / @promotion.featured_deal.value.to_f) * 100, :precision => 0 %></strong></span>
                          </td>
                          <td valign="middle" align="right">
                            <span style="color: #fff;font-family: 'Myriad', sans-serif;font-size: 24px;font-weight: bold;margin-right:3px;padding: 0;"><%= has_cents?(@promotion.featured_deal.price) ? number_to_currency(@promotion.featured_deal.price, :precision => 2) : number_to_currency(@promotion.featured_deal.price, :precision => 0) %></span>
                          </td>
                          <td valign="top" width="75" style="padding-right:50px">
                            <span style="font-family: 'Myriad', sans-serif;font-size: 20px;font-weight: normal;padding: 0;color: #FF9B00;"><a href="<%= promotion_slug_url(@promotion.slug) %><%= @google_tracking %>" style="font-family: Lucida, sans-serif;font-size: 18px;font-weight: normal;color: #FF9B00;text-decoration: underline;"><img src="http://sowhatsthedeal.com/emails/trans1_view_big.png" alt="View" border="0" style="border: none;"></a></span>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                  
                  <!-- deal image biz name -->
                  <tr>
                    <td>
                      <table width="580" border="0" cellspacing="0" cellpadding="0" style="padding: 10px 0">
                        <tr>
                          <td width="340">
                            <a href="<%= promotion_slug_url(@promotion.slug) %><%= @google_tracking %>" style="font-family: Lucida, sans-serif;font-size: 12px;font-weight: normal;color: #3fc7ff;text-decoration: underline;"><img src="http://sowhatsthedeal.com<%= @promotion.image1.url %>" alt="<%= @promotion.business.name %> Deal" border="0" width="340" height="240" style="border: 3px solid #ffffff;"></a>
                          </td>
                          <td align="center">
                            <p style="text-align:center;margin:0px 0 10px 0;">
                              <% if @promotion.physical_address? %>
                                <a href="http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=<%= @promotion.business.street1.gsub(/\s/,"+") %>+<%= @promotion.business.city.gsub(/\s/,"+") %>,+<%= @promotion.business.state %>+<%= @promotion.business.zipcode %>" target="_blank" style="font-family: Lucida, sans-serif;font-size: 12px;font-weight: normal;color: #3fc7ff;text-decoration: underline;"><img src="http://sowhatsthedeal.com/emails/trans1_map_icon.png" alt="map" border="0" style="border: 0"></a>
                              <% else %>
                                <a href="<%= @promotion.business.website %>" style="font-family: Lucida, sans-serif;font-size: 12px;font-weight: normal;color: #3fc7ff;text-decoration: underline;"><img src="http://sowhatsthedeal.com/emails/trans1_www_icon.png" alt="" border="0" style="border: 0"></a>
                              <% end %>
                            </p>
                            
                            <p style="color: #ffffff;font-family: 'Myriad', sans-serif;font-size:14px;margin:0"><strong><%= @promotion.business.name %></strong> <%= "(" + link_to("website", @promotion.business.website, :target => "_blank", :style => "font-family: Lucida, sans-serif;font-weight: normal;color: #3fc7ff;text-decoration: underline;") + ")" unless @promotion.business.website.blank? %></p>
                            <% if @promotion.physical_address? %>
                              <p style="color: #cfcfcf;font-family: 'Myriad', sans-serif;font-size:14px;margin: 10px 0;line-height:1.15em"><%= @promotion.business.street1 %><br/><%= @promotion.business.city %>, <%= @promotion.business.state %> <%= @promotion.business.zipcode %></p>
                            <% end %>
                            
                            <p style="font-family: 'Myriad', sans-serif;font-size:13px;margin: 40px 0 0;line-height:1.25em">
                              <span style="color: #adc5d9;font-family: 'Myriad', sans-serif;font-size: 14px;font-weight: normal;padding: 0;">DEAL ENDS:</span><br>
                              <span style="font-family: 'Myriad', sans-serif;font-size: 15px;font-weight: normal;padding: 0;color: #adc5d9;"><strong style="color: #ffffff;"><%= (@promotion.end_date - 5.hours).strftime("%A, %b %d") %></strong></span>
                            </p>
                            <p align="center" style="margin: 15px 0 0 0;font-family: Lucida, sans-serif;font-size: 12px;font-weight: normal;color: #4dca00;padding: 0;"><a href="<%= HOST_URL %>add_reminder/<%= @promotion.id %><%= @google_tracking %>" style="font-family: Lucida, sans-serif;font-size: 12px;font-weight: normal;color: #3fc7ff;text-decoration: underline;"><img src="http://sowhatsthedeal.com/emails/trans1_reminder.png" alt="Remind Me" border="0" style="border: none;"></a></p>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                  
                  <!-- deal summary bullets -->
                  <tr>
                    <td>
                      <h4 style="color: #adc5d9;font-family: 'Myriad', sans-serif;font-size: 16px;font-weight: normal;margin: 7px 0 0 0;padding: 0;"><%= @promotion.start_date.strftime("%B %d") %></h4>
                      <div id="summary" style="font-family: Myriad, sans-serif;font-size: 14px;font-weight: normal;color: #cfcfcf  !important;margin: 0 0 0px 0;padding: 0;"><%= @promotion.summary %></div>
                    </td>
                  </tr>
                  
                  <!-- more deals for you -->
                  <% unless @side_promotions.empty? %>
                  <tr>
                    <td>
                      <h2 style="font-family: Helvetica, Myriad, sans-serif;font-size: 28px;color: #ffffff;margin: 20px 0 10px 0;padding: 0;">more deals <span style="font-weight:normal">for you</span></h2>
                      <table width="580" border="0" cellspacing="0" cellpadding="0">
                        <% @side_promotions.each do |side_promotion| %>
                        <tr>
                          <td style="padding-bottom: 20px" width="170">
                            <a href="<%= promotion_slug_url(side_promotion.slug) %><%= @google_tracking %>" style="font-family: Lucida, sans-serif;font-size: 12px;font-weight: bold;color: #1279af;"><img src="http://sowhatsthedeal.com<%= side_promotion.image1.url %>" border="0" width="157" height="110" style="border: 1px solid #cccccc;"></a>
                          </td>
                          <td width="410" valign="top">
                            <table width="410" border="0" cellspacing="0" cellpadding="0">
                              <tr height="50">
                                <td valign="middle" align="left" bgcolor="#012437">
                                  <h1 style="font-family: 'Myriad', sans-serif;font-weight: normal;margin: 15px 0 15px 15px;padding:0;text-align:left;font-size: 14px;line-height:18px"><a href="<%= promotion_slug_url(side_promotion.slug) %><%= @google_tracking %>" style="color: #3fc7ff !important;font-family: 'Myriad', sans-serif;font-size: 14px;font-weight: normal;text-decoration: none !important;"><%= side_promotion.name %></a></h1>
                                </td>
                                <td valign="middle" align="right" bgcolor="#012437" style="padding-left:20px">
                                  <span style="color: #fff;font-family: 'Myriad', sans-serif;font-size: 20px;font-weight: bold;margin-right:3px;padding: 0;"><%= has_cents?(side_promotion.featured_deal.price) ? number_to_currency(side_promotion.featured_deal.price, :precision => 2) : number_to_currency(side_promotion.featured_deal.price, :precision => 0) %></span>
                                </td>
                                <td valign="middle" width="70" bgcolor="#012437">
                                  <span style="font-family: 'Myriad', sans-serif;font-size: 20px;font-weight: normal;padding: 0;color: #FF9B00;"><a href="<%= promotion_slug_url(side_promotion.slug) %><%= @google_tracking %>" style="font-family: Lucida, sans-serif;font-size: 18px;font-weight: normal;color: #FF9B00;text-decoration: underline;"><img src="http://sowhatsthedeal.com/emails/trans1_view_small.png" alt="View" border="0" style="border: none;"></a></span>
                                </td>
                              </tr>
                              <tr>
                                <td valign="middle" align="left" colspan="3" style="padding: 10px 15px 0">
                                  <span style="color: #adc5d9;font-family: 'Myriad', sans-serif;font-size: 16px;font-weight: normal;margin-right:3px;padding: 0;">value:</span> <span style="font-family: 'Myriad', sans-serif;font-size: 16px;font-weight: normal;padding: 0;color: #adc5d9;margin-right:30px"><strong style="color: #ffffff;"><%= has_cents?(side_promotion.featured_deal.value) ? number_to_currency(side_promotion.featured_deal.value, :precision => 2) : number_to_currency(side_promotion.featured_deal.value, :precision => 0) %></strong></span>
                                  <span style="color: #adc5d9;font-family: 'Myriad', sans-serif;font-size: 16px;font-weight: normal;margin-right:3px;padding: 0;">discount:</span> <span style="font-family: 'Myriad', sans-serif;font-size: 16px;font-weight: normal;padding: 0;color: #adc5d9;"><strong style="color: #ffffff;"><%= number_to_percentage (1 - side_promotion.featured_deal.price.to_f / side_promotion.featured_deal.value.to_f) * 100, :precision => 0 %></strong></span>
                                </td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                        <% end %>
                      </table>
                    </td>
                  </tr>
                  <% end %>
                </table>
              </td>
            </tr>
          </table>
          
          <% unless @event1.nil? and @event2.nil? and @shoutout1.nil? and @shoutout2.nil? %>
          <table width="600" border="0" cellspacing="0" cellpadding="0" bgcolor="#014164" class="footer" style="margin-bottom: 20px">
            <tr>
              <td>
                <table width="600" border="0" cellspacing="0" cellpadding="0" class="events" style="background-color: #ddd;">
                  <tr>
                    <td class="main" align="left" valign="top" width="600" style="padding:10px">
                      <h2 style="font-family: Helvetica, Myriad, sans-serif;font-size: 28px;color: #666666;margin: 0px 0 10px 0;padding: 0;">events <span style="font-weight:normal">and</span> shoutouts</h2>
                      <table width="580" border="0" cellspacing="0" cellpadding="0" class="event_items">
                        <tr>
                        <% unless @event1.nil? %>
                          <td align="left" valign="top">
                            <table border="0" cellspacing="0" cellpadding="0">
                              <tr>
                                <td valign="top" style="padding-right:8px" width="105">
                                  <a href="<%= event_url @event1 %><%= @google_tracking %>" style="font-family: Lucida, sans-serif;font-size: 12px;font-weight: normal;color: #1279af;"><img src="http://sowhatsthedeal.com<%= @event1.image1.url %>" alt="<%= @event1.header %>" width="100" align="left" style="border: 2px solid #777777;"></a>
                                </td>
                                <td valign="top" width="160">
                                  <h5 style="color: #666666;font-family: 'Myriad', sans-serif;font-size: 11px;text-transform: uppercase;margin: 0 0 5px 0;"><a href="<%= event_url @event1 %><%= @google_tracking %>" style="font-family: Lucida, sans-serif;font-size: 11px;font-weight: bold;color: #1279af;"><%= @event1.header %></a></h5>
                                  <p style="font-family: Lucida, sans-serif;font-size: 11px;font-weight: normal;color: #666666;margin: 0 0 16px 0;padding: 0;margin-bottom: 0;"><%= @event1.description %> &nbsp;<%= link_to @event1.read_more_text, event_url(@event1) %></p>
                                </td>
                              </tr>
                            </table>
                          </td>
                        <% end %>
                        <% unless @event2.nil? %>
                          <td align="left" valign="top">
                            <table border="0" cellspacing="0" cellpadding="0">
                              <tr>
                                <td valign="top" style="padding-right:8px" width="105">
                                  <a href="<%= event_url @event2 %><%= @google_tracking %>" style="font-family: Lucida, sans-serif;font-size: 12px;font-weight: normal;color: #1279af;"><img src="http://sowhatsthedeal.com<%= @event2.image1.url %>" alt="<%= @event2.header %>" width="100" align="left" style="border: 2px solid #777777;"></a>
                                </td>
                                <td valign="top" width="160">
                                  <h5 style="color: #666666;font-family: 'Myriad', sans-serif;font-size: 11px;text-transform: uppercase;margin: 0 0 5px 0;"><a href="<%= event_url @event2 %><%= @google_tracking %>" style="font-family: Lucida, sans-serif;font-size: 11px;font-weight: bold;color: #1279af;"><%= @event2.header %></a></h5>
                                  <p style="font-family: Lucida, sans-serif;font-size: 11px;font-weight: normal;color: #666666;margin: 0 0 16px 0;padding: 0;margin-bottom: 0;"><%= @event2.description %> &nbsp;<%= link_to @event2.read_more_text, event_url(@event2) %></p>
                                </td>
                              </tr>
                            </table>
                          </td>
                        <% end %>
                        <% unless @shoutout1.nil? %>
                          <td align="left" valign="top">
                            <table border="0" cellspacing="0" cellpadding="0">
                              <tr>
                                <td valign="top" style="padding-right:8px" width="105">
                                  <img src="http://sowhatsthedeal.com<%= @shoutout1.image1.url %>" width="100" align="left" style="border: 2px solid #777777;">
                                </td>
                                <td valign="top" width="160">
                                  <h5 style="color: #666666;font-family: 'Myriad', sans-serif;font-size: 11px;text-transform: uppercase;margin: 0 0 5px 0;"><%= @shoutout1.header %></h5>
                                  <p style="font-family: Lucida, sans-serif;font-size: 11px;font-weight: normal;color: #666666;margin: 0 0 16px 0;padding: 0;margin-bottom: 0;"><%= @shoutout1.description %></p>
                                </td>
                              </tr>
                            </table>
                          </td>
                        <% end %>
                        <% unless @shoutout2.nil? %>
                          <td align="left" valign="top">
                            <table border="0" cellspacing="0" cellpadding="0">
                              <tr>
                                <td valign="top" style="padding-right:8px" width="105">
                                  <img src="http://sowhatsthedeal.com<%= @shoutout2.image1.url %>" width="100" align="left" style="border: 2px solid #777777;">
                                </td>
                                <td valign="top" width="160">
                                  <h5 style="color: #666666;font-family: 'Myriad', sans-serif;font-size: 11px;text-transform: uppercase;margin: 0 0 5px 0;"><%= @shoutout2.header %></h5>
                                  <p style="font-family: Lucida, sans-serif;font-size: 11px;font-weight: normal;color: #666666;margin: 0 0 16px 0;padding: 0;margin-bottom: 0;"><%= @shoutout2.description %></p>
                                </td>
                              </tr>
                            </table>
                          </td>
                        <% end %>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
          <% end %>
          
          <table width="600" border="0" cellspacing="0" cellpadding="0" bgcolor="#014164" class="footer" style="margin-bottom: 20px">
            <tr>
              <td style="padding:15px">
                <p style="color: #CFCFCF;font-family: Lucida, sans-serif;font-size: 10px;font-weight: normal;line-height: 15px;margin: 0 0 10px 0;text-align: left;">Questions? Comments? Random rants? Visit our <a href="http://sowhatsthedeal.com/faq<%= @google_tracking %>" style="color: #94BFF2;font-family: Lucida, sans-serif;font-size: 10px;font-weight: normal;">Frequently Asked Questions</a> section, e-mail us at <a href="mailto:support@sowhatsthedeal.com" style="color: #94BFF2;font-family: Lucida, sans-serif;font-size: 10px;font-weight: normal;">support@sowhatsthedeal.com</a> or call us: (888) 765-3481.</p>

                <p style="color: #CFCFCF;font-family: Lucida, sans-serif;font-size: 10px;font-weight: normal;line-height: 15px;margin: 0 0 10px 0;text-align: left;">Please add <a href="mailto:sales@e.sowhatsthedeal.com" style="color: #94BFF2;font-family: Lucida, sans-serif;font-size: 10px;font-weight: normal;">sales@e.sowhatsthedeal.com</a> to your address book or safe sender list so our emails get to your inbox. This email was sent by WTD, LLC | 1921 Florida Ave, NW | Washington, DC  20009 | US.</p>

                <p style="color: #CFCFCF;font-family: Lucida, sans-serif;font-size: 10px;font-weight: normal;line-height: 15px;margin: 0 0 10px 0;text-align: left;">You are receiving this e-mail because you signed up for a WTD Mailing list. If you no longer wish to receive messages from us, you can <a href="%%%removemark%%%" style="color: #94BFF2;font-family: Lucida, sans-serif;font-size: 10px;font-weight: normal;">unsubscribe</a>.</p>
              </td>
            </tr>
          </table>

        </td>
      </tr>
    </table>
    
    
    </body>
    </div>
    
    <script type="text/javascript" charset="utf-8">
      $('#summary ul').css('padding-left', '20px');
      $('#summary ul').css('margin-top', '10px');
      $('#summary ul li').css('margin-bottom', '5px');
      $('#summary ul li').css('color', '#cfcfcf');
      $('#summary ul li').css('font-family', 'Myriad, Helvetica');
      $('#summary ul li a').css('color', '#3fc7ff');

      document.getElementById('fe_text').value = document.getElementById('email').innerHTML;
    </script>

  </body>
</html>