<% content_for :sub_nav do %>
  <% @no_sub_nav = true %>
<% end %>
<br><br>

<h2>Setup Email</h2>

<% form_tag :action => 'generate'  do %>
  <p>
    <%= label_tag 'Promotion' %><br />
    <%= select_tag :promotion_id, options_for_select(@promotions.collect{|p| ["#{p.id} - #{p.name} #{"(featured)" if p.featured?}", p.id] }) %>
  </p><br><br>

  <h4><strong>Side Deals</strong></h4>  
  <p style="margin-top:10px">
    <% unless @side_promotions.empty? %>
      <%= label_tag 'Side deal 1' %>
      <%= select_tag :side_promotion_1, options_for_select(@side_promotions.collect{|p| ["#{"(**ending**)" if p.end_date <= (@now + 60.hours)} #{p.id} - #{p.name}", p.id] }) %><br><br>
      <%= label_tag 'Side deal 2' %>
      <%= select_tag :side_promotion_2, options_for_select(@side_promotions.collect{|p| ["#{"(**ending**)" if p.end_date <= (@now + 60.hours)} #{p.id} - #{p.name}", p.id] }) %><br><br>
      <%= label_tag 'Side deal 3' %>
      <%= select_tag :side_promotion_3, options_for_select(@side_promotions.collect{|p| ["#{"(**ending**)" if p.end_date <= (@now + 60.hours)} #{p.id} - #{p.name}", p.id] }) %><br><br>
    <% else %>
      Sorry, but there are no other active deals available (this is very rare, might want to double check that all the promotions are working correctly).
    <% end %>
  </p><br><br>
  
  <p>
    <%= label_tag 'Event 1' %><br />
    <% unless @events.empty? %>
      <%= select_tag :event1_id, options_for_select([['-- None --', 0]] + @events.collect{|e| ["#{e.id} - #{strip_tags e.header}", e.id] }) %>
    <% else %>
      Sorry, no events, go <%= link_to "add some", admin_events_path %>!
    <% end %>
  </p>
  <p>
    <%= label_tag 'Event 2' %><br />
    <% unless @events.empty? %>
      <%= select_tag :event2_id, options_for_select([['-- None --', 0]] + @events.collect{|e| ["#{e.id} - #{strip_tags e.header}", e.id] }) %>
    <% else %>
      Sorry, no events, go <%= link_to "add some", admin_events_path %>!
    <% end %>
  </p><br><br>
  
  <p>
    <%= label_tag 'Shoutout 1' %><br />
    <% unless @shoutouts.empty? %>
      <%= select_tag :shoutout1_id, options_for_select([['-- None --', 0]] + @shoutouts.collect{|s| ["#{s.id} - #{strip_tags s.header}", s.id] }) %>
    <% else %>
      Sorry, no shoutouts, go <%= link_to "add some", admin_shoutouts_path %>!
    <% end %>
  </p>
  <p>
    <%= label_tag 'Shoutout 2' %><br />
    <% unless @shoutouts.empty? %>
      <%= select_tag :shoutout2_id, options_for_select([['-- None --', 0]] + @shoutouts.collect{|s| ["#{s.id} - #{strip_tags s.header}", s.id] }) %>
    <% else %>
      Sorry, no shoutouts, go <%= link_to "add some", admin_shoutouts_path %>!
    <% end %>
  </p><br><br>
  
  <p>
    <%= submit_tag 'Generate Email Code' %>
  </p>
<% end %>