<% content_for :sub_nav do %>
  <li><%= link_to 'Customer Listing', customers_path %></li>
<% end %>


<h2>New Customer</h2>

<% form_for(@user) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %>
  </p>
  
  <% f.fields_for :customer do |cf| %>
    <p>
      <%= cf.label :first_name %><br />
      <%= cf.text_field :first_name %>
    </p>
    <p>
      <%= cf.label :last_name %><br />
      <%= cf.text_field :last_name %>
    </p>
    <p>
      <%= cf.label :phone %><br />
      <%= cf.text_field :phone %>
    </p>
    <p>
      <%= cf.label :street1 %><br />
      <%= cf.text_field :street1 %>
    </p>
    <p>
      <%= cf.label :street2 %><br />
      <%= cf.text_field :street2 %>
    </p>
    <p>
      <%= cf.label :city %><br />
      <%= cf.text_field :city %>
    </p>
    <p>
      <%= cf.label :state %><br />
      <%= cf.text_field :state %>
    </p>
    <p>
      <%= cf.label :zipcode %><br />
      <%= cf.text_field :zipcode %>
    </p>
    <p>
      <%= cf.label :female %><br />
      <%= cf.check_box :female %>
    </p>
    <p>
      <%= cf.label :birthdate %><br />
      <%= cf.datetime_select :birthdate %>
    </p>
    <p>
      <%= cf.label :newsletter_subscriber %><br />
      <%= cf.check_box :newsletter_subscriber %>
    </p>
  <% end %>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>