<% content_for :page_title do %><%= @home_page ? "Home: Up to 80% off restaurants, spas, and bars!" : @promotion.name %><% end %>
<% content_for :head do %>
  <meta name="title" content="<%= @promotion.name %>" /> 
  <meta name="description" content="<%= truncate(strip_tags(@promotion.body1), :length => 200) %>" /> 
  <link rel="image_src" href="http://sowhatsthedeal.com<%= @promotion.image1.url %>" />
  <meta property="og:title" content="<%= @promotion.name %>"/>
  <meta property="og:type" content="article"/>
  <meta property="og:image" content="http://sowhatsthedeal.com<%= @promotion.image1.url %>"/>
  <meta property="og:site_name" content="What's The Deal"/>
  <meta property="og:type" content="article"/>
  <meta property="fb:admins" content="mburnett" />
  <meta name="tweetmeme-title" content="<%= @promotion.name %>" />
<% end %>  

<div class="promotion">
  <h2><%= @promotion.name %></h2>

  <div class="main_details clearfix">
    <% form_for @cart_item do %>
      <%= hidden_field_tag "promotion_id", @promotion.id %>
      <div class="promotion_image">
        <%= image_tag @promotion.image1.url, :alt => @promotion.name %><br>
      </div>
      <div class="buying_details clearfix">
        <% if @promotion.deals.active.count > 1 %>
          <% @promotion.deals.active.each_with_index do |deal, i| %>
            <div class="multi_deal <%= 'first_deal' if deal.id == @promotion.deals.active.first.id %> clearfix">
              <div class="deal_checkbox">
                <% unless deal.sold_out? %>
                  <%= hidden_field_tag "cart_items[#{i}][deal_id]", deal.id %>
                  <%= check_box_tag "cart_items[#{i}][quantity]", 1, nil, :class => 'styled' unless deal.promotion.ended? %>
                <% else %>
                  <div class="sold_out">Sold<br>Out</div>
                <% end %>
              </div>
              <div class="pricing_info">
                <h3><%= label_tag "cart_items_#{i}_quantity", deal.name %></h3>
                  <% unless deal.id == 411 %>
                  <dl class="clearfix">
                    <dt>You Pay:</dt>&nbsp;
                    <% if deal.early_bird? %>
                      <dd class="early_bird_discount"><span><%= number_to_currency deal.price, :precision => 0 %></span>&nbsp;<%= number_to_currency deal.adjusted_price, :precision => (has_cents?(@promotion.featured_deal.price) ? 2 : 0) %></dd>
                    <% else %>  
                      <dd><%= number_to_currency deal.price, :precision => (has_cents?(deal.price) ? 2 : 0) %></dd>
                    <% end %>
                    <dt>Value:</dt>&nbsp;<dd><%= number_to_currency deal.value, :precision => (has_cents?(deal.value) ? 2 : 0) %></dd>
                  </dl>
                <% end %>
              </div>
            </div>
          <% end %>
        <% else %>
          <%= hidden_field_tag "cart_items[0][deal_id]", @promotion.featured_deal.id %>
          <%= hidden_field_tag "cart_items[0][quantity]", 1 %>
          <% if @promotion.id == 330 %>
            <div class="special_deal_me_in_message">Click below<br>to get your FREE<br>10% off coupon code!</div>
          <% elsif @promotion.id == 362 %>
            <div class="special_deal_me_in_message">Click below<br>to get your FREE<br>50% off coupon code!</div>
          <% elsif @promotion.featured_deal.id == 411 %>
          <% else %>
            <div class="single_deal">
              <dl class="clearfix">
                <dt>You Pay</dt>
                <% if @promotion.featured_deal.early_bird? %>
                  <dd class="early_bird_discount"><span><%= number_to_currency @promotion.featured_deal.price, :precision => 0 %></span>&nbsp;<%= number_to_currency @promotion.featured_deal.adjusted_price, :precision => (has_cents?(@promotion.featured_deal.price) ? 2 : 0) %></dd>
                <% else %>
                  <dd><%= number_to_currency @promotion.featured_deal.price, :precision => (has_cents?(@promotion.featured_deal.price) ? 2 : 0) %></dd>
                <% end %>
              </dl>
              <dl class="clearfix">
                <dt>Value</dt><dd><%= number_to_currency @promotion.featured_deal.value, :precision => (has_cents?(@promotion.featured_deal.value) ? 2 : 0) %></dd>
              </dl>
              <dl class="clearfix">
                <dt class="savings">Savings</dt><dd><%= number_to_percentage @promotion.featured_deal.savings, :precision => 0 %></dd>
              </dl>
            </div>
          <% end %>
        <% end %>
        
        <div class="checkout_buttons">
          <% if @promotion.id == 330 or @promotion.id == 362 %>
            <div class="deal_me_in"><br><br><%= link_to 'Get My Code', @promotion.external_url, :class => 'primary' %><br><br></div>
          <% elsif @promotion.id == 216 %>
            <h3>Choose a performance date</h3>
            <ul style="font-size: 120%; line-height: 1.2em;list-style-type: disc; text-align: left; color: #E9EFF3; margin-left: 45px">
              <li><strong><a href="/promotions/217">Wednesday Evening (11/24 @ 8pm)</a></strong></li>
              <li><strong><a href="/promotions/220">Friday Evening (11/26 @ 8pm)</a></strong></li>
              <li><strong><a href="/promotions/219">Saturday Matin&eacute;e (11/27 @ 3pm)</a></strong></li>
              <li><strong><a href="/promotions/221">Saturday Evening (11/27 @ 8pm)</a></strong></li>
              <li><strong><a href="/promotions/218">Sunday Matin&eacute;e (11/28 @ 3pm)</a></strong></li>
            </ul>
          <% elsif @promotion.id == 230 %>
            <h3>Choose a performance date</h3>
            <ul style="font-size: 120%; line-height: 1.2em;list-style-type: disc; text-align: left; color: #E9EFF3; margin-left: 45px">
              <li><strong><a href="/promotions/236">Wednesday,&nbsp;Nov 24th 7:30 pm</a></strong></li>
              <li><strong><a href="/promotions/237">3-Play Weekday Subscription</a></strong></li>
            </ul>
          <% elsif !@promotion.ended? and !@promotion.sold_out? and @promotion.id != 291 %>
            <div class="deal_me_in"><%= submit_tag 'Deal Me In', :class => 'primary' %></div>
            <%# submit_tag Promotion::BUY_AS_GIFT_LABEL, :class => 'buy_as_gift' %>
          <% end %>
        </div>
      </div>
    <% end %>
    <%= render :partial => "reminder", :locals => {:promotion => @promotion} unless @promotion.sold_out? or @promotion.ended? %>
  </div>
  
  <% unless @promotion.id == 289 or @promotion.id == 359 %>
    <div class="promotion_info_strip clearfix">
      <% if @promotion.ended? %>
        <div class="deal_ended">Sorry, but this deal is over</div>
      <% end %>
      <div class="time_left <%= 'almost_over' if @promotion.almost_over? %>">
        Time Left:&nbsp;&nbsp;<strong><%= distance_of_time_in_words_to_now(@promotion.end_date) unless @promotion.ended? %></strong>
      </div>
    
      <div class="purchases">
        <% if @promotion.id == 330 or @promotion.id == 362 %>
          <strong>&nbsp;</strong>
        <% elsif @promotion.id == 291 or @promotion.id == 293 or @promotion.id == 294 %>
          <strong><%= Promotion.find(293).purchases + Promotion.find(294).purchases %></strong>&nbsp;&nbsp;purchased
        <% elsif @promotion.inventory.to_i < 999 %>
          <strong><%= @promotion.purchases %></strong> <span class="out_of">out of</span> <strong><%= @promotion.inventory %></strong>&nbsp;&nbsp;purchased
        <% else %>
          <strong><%= @promotion.purchases %></strong>&nbsp;&nbsp;purchases
        <% end %>
      </div>
    </div>
  <% end %>
  
  <a name="tabs"></a>
  <div class="promotion_tabs">
    <%= link_to 'Summary', '?tab=summary#tabs', :class => "tab #{'active_tab' if (params[:tab] == 'summary' or params[:tab].blank?)}", :id => 'tab_summary#tabs' %>
    <%= link_to 'Details', '?tab=details#tabs', :class => "tab #{'active_tab' if params[:tab] == 'details'}", :id => 'tab_details' %>
    <%= link_to 'Reviews', '?tab=reviews#tabs', :class => "tab #{'active_tab' if params[:tab] == 'reviews'}", :id => 'tab_reviews' %>
    <%= link_to 'Fine Print', '?tab=restrictions#tabs', :class => "tab #{'active_tab' if params[:tab] == 'restrictions'}", :id => 'tab_restrictions' %>
    
    <div class="tab_content clearfix">
      <div id="tab_content_summary" style="<%= "display:none" unless (params[:tab] == 'summary' or params[:tab].blank?) %>">
        <div class="promotion_summary">
          <%= @promotion.summary %>
          <br>
          <%= render :partial => "business_address", :locals => {:promotion => @promotion} %>
          <% unless @promotion.map_replacement_image.file? %>
            <div class="promotion_map">
              <%= link_to image_tag("http://maps.google.com/maps/api/staticmap?center=#{@promotion.business.street1.gsub(/\s/,"+")}+#{@promotion.business.city.gsub(/\s/,"+")},+#{@promotion.business.state}+#{@promotion.business.zipcode}&zoom=14&markers=#{@promotion.business.street1.gsub(/\s/,"+")}+#{@promotion.business.city.gsub(/\s/,"+")},+#{@promotion.business.state}+#{@promotion.business.zipcode}&size=245x245&sensor=false", :alt => "Map of #{@promotion.business.name}", :width => 245,  :height => 245), "http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=#{@promotion.business.street1.gsub(/\s/,"+")}+#{@promotion.business.city.gsub(/\s/,"+")},+#{@promotion.business.state}+#{@promotion.business.zipcode}", :target => '_blank' %>
            </div>
          <% else %>
            <%= image_tag @promotion.map_replacement_image.url %>
          <% end %>
        </div>
      </div>
      
      <div id="tab_content_details" style="<%= "display:none" unless params[:tab] == 'details' %>">
        <%= @promotion.body1 %>
        <div class="ie_clear"></div>
      </div>
      
      <div id="tab_content_reviews" style="<%= "display:none" unless params[:tab] == 'reviews'%>">
        <%= @promotion.body2 %>
        <div class="ie_clear"></div>
      </div>

      <div id="tab_content_restrictions" style="<%= "display:none" unless params[:tab] == 'restrictions' %>">
        <%= @promotion.restrictions %>
        <div class="ie_clear"></div>
      </div>
      
      <div class="ie_clear"></div>
    </div>
    
    <div class="promotion_montage">
      <%= image_tag @promotion.image2.url %>
    </div>
  </div>
</div>