<br><br>
<% form_tag :action => 'index' do %>
  <label for='promotion_id'><strong>Deal:</strong></label> <%= select_tag :promotion_id, options_for_select([""] + ["All"] + @promotions.collect{|b| [b.start_date.strftime("%m/%d/%Y") + " - " + b.name, b.id]}, params[:promotion_id].to_i > 0 ? params[:promotion_id].to_i : params[:promotion_id]), :onchange => "$('#excel_promotion_id').val($('#promotion_id').val())" %>
  <br><br>
  <%= radio_button_tag 'all', 'no', true %> <label for="q"><strong>Last Name</strong> or <strong>Confirmation Number</strong>:</label>
  <%= text_field_tag 'q', params[:q], :style => 'width: 200px', :onkeydown => "$('#all_no').attr('checked', true)" %><br><br>
  
  <%= radio_button_tag 'all', 'yes', nil, :onclick => "$('#q').val('')" %> <label for="all_yes"><strong>Show All Purchases</strong></label>
  
  <br><br>
  <%= submit_tag 'search', :style => "font-size: 120%" %>
<% end %>
<br><br>
<% form_tag :action => 'export' do %>
  <%= hidden_field_tag :excel_promotion_id, params[:promotion_id] %>
  <%= submit_tag 'Export All Purchases to Excel' %>
<% end %>

<% unless @coupons.empty? %>
  <br><br>
  <% if @type %>
    <h2><%= pluralize @coupons.size, "Purchases" %> for <%= params[:promotion_id].to_i > 0 ? Promotion.find(params[:promotion_id]).name : "All Deals" %> matching <%= @type %> '<%= params[:q] %>'</h2>
  <% elsif params[:promotion_id].to_i > 0 %>
    <h2>Purchases for <%= Promotion.find(params[:promotion_id]).name %></h2>
  <% elsif params[:promotion_id] == 'All' %>
    <h2>All Purchases</h2>
  <% end %>

  <% form_tag :controller => :purchases, :action => :bulk_use do %>
    <%= hidden_field_tag :q, params[:q] %>
    <%= hidden_field_tag :promotion_id, params[:promotion_id] %>
    <table class="business_table">
      <tr>
        <th class="align_left">Purchaser Name</th>
        <th>Confirmation Code</th>
        <th>Date Purchased</th>
        <th>Deal</th>
        <th>Purchase Price</th>
        <th>Redeemed?</th>
        <th>Coupon Code</th>
      </tr>

      <% @coupons.each do |coupon| %>
        <tr>
          <td class="align_left"><%= coupon.recipient %></td>
          <td><%= coupon.confirmation_code %></td>
          <td><%= coupon.created_at.strftime("%b %e, %Y") %></td>
          <td><%= coupon.name %></td>
          <td><%= number_to_currency coupon.deal.price %></td>
          <% if coupon.biz_used? %>
            <td style="color: green;"><%= "&#10004;" if coupon.biz_used? %></td>
          <% else %>
            <td><%= check_box_tag "coupons[#{coupon.id}]" %></td>
          <% end %>
          <td><%= coupon.coupon_code %></td>
        </tr>
      <% end %>    
    </table>
  
    <div class="commit clear"><%= submit_tag "Update Coupons as 'Redeemed'" %></div>
  <% end %>
<% else %>
  <div class="section_content"><br><p>
    <% if (params[:all] == 'no' or params[:all].blank?) and params[:q].blank? %>
      <strong>How to Use:</strong> Select a deal and search by Customer Name or Coupon Confirmation Number.  You can also show all purchases (may take 2-3 minutes to display list).
    <% else %>
      Sorry, no purchases found. You can search partial last name.  You can also show all purchases (may take 2-3 minutes to display list).
    <% end %>
  </p></div>
<% end %>
<br>
<div class="bottom_link_next_page">
  <%= link_to "Back to Home", business_home_path %>
</div>

<script type="text/javascript" charset="utf-8">
  
</script>