<% flash[:error] = render_content("business_maintenance_notice") %>

<% form_tag :action => 'index' do %>
  <h1>Search for Purchases</h1>
  
  <label for='promotion_id'><strong>Deal:</strong></label> <%= select_tag :promotion_id, options_for_select([""] + ["All"] + @promotions.collect{|b| [b.start_date.strftime("%m/%d/%Y") + " - " + b.name, b.id]}, params[:promotion_id].to_i > 0 ? params[:promotion_id].to_i : params[:promotion_id]), :onchange => "$('#excel_button').show(); $('#excel_promotion_id').val($('#promotion_id').val())" %>
  <br><br>
  <%= radio_button_tag 'all', 'no', true %> <label for="q"><strong>First/Last Name</strong> or <strong>Confirmation Number</strong>:</label>&nbsp;&nbsp;
  <%= text_field_tag 'q', params[:q], :style => 'width: 200px', :class => "text", :onkeydown => "$('#all_no').attr('checked', true)" %><span style="margin-left: 10px">(if gift, search 'gift from' last name)</span>
  <br><br>
  
  <% unless current_user.business.id == 365 %>
    <%= radio_button_tag 'all', 'yes', nil, :onclick => "$('#q').val('')" %> <label for="all_yes"><strong>Show All Purchases</strong></label>
  <% end %>
  
  <br><br>
  <%= submit_tag 'search', :class => "submit", :onclick => "$(this).addClass('disabled_search');" %>
<% end %>
<br><br>
<% form_tag :action => 'export' do %>
  <%= hidden_field_tag :excel_promotion_id, params[:promotion_id] %>
  <%= submit_tag 'Save All to Excel', :style => ("display: none" if params[:promotion_id].blank?), :class => "submit primary", :id => "excel_button", :onclick => "$(this).addClass('disabled'); $('.export_notice').show();" %>
  <span class="export_notice" style="display:none">(Exporting now. Process may take 2-4 minutes.)</span>
<% end %>

<% unless (@coupons + @kgb_coupons).empty? %>
  <br><br><br>
  <div class="print_this"><%= link_to "Print this Report", "javascript:print()" %></div>
  <h1>Mark Coupons As Redeemed</h1>
  <% if @type %>
    <h2><%= pluralize (@coupons + @kgb_coupons).size, "Purchases" %> matching <%= @type %> '<%= params[:q] %>'</h2>
  <% elsif params[:promotion_id].to_i > 0 %>
    <h2>Purchases for <%= Promotion.find(params[:promotion_id]).name %></h2>
  <% elsif params[:promotion_id] == 'All' %>
    <h2>All Purchases</h2>
  <% end %>

  <% form_tag '/business/purchases/bulk_use', :class => "purchases_report" do %>
    <%= hidden_field_tag :q, params[:q] %>
    <%= hidden_field_tag :promotion_id, params[:promotion_id] %>
    <table class="business_table" width="1020">
      <tr>
        <th class="align_left">Last&nbsp;Name</th>
        <th class="align_left">First&nbsp;Name</th>
        <th>Confirmation Code</th>
        <th>Date Purchased</th>
        <th>Deal</th>
        <th>Purchase Price</th>
        <th>Redeemed?</th>
        <% if @any_coupon_codes %><th>Coupon Code</th><% end %>
        <th>Site</th>
      </tr>

      <% @sorted_coupons.each do |coupon_pair| %>
        <% coupon = @sortable_coupons[coupon_pair[0]] %>
        <tr>
          <td class="align_left capitalize"><strong><%= coupon.recipient[/(\w+)\s*\z/] %></strong></td>
          <td class="align_left capitalize"><%= coupon.recipient.gsub(/(\w+)\s*\z/,"") %><%= " <br/><em class='small_text'>(gift from " + coupon.user.customer.name + ")</em>" if coupon.gift? %></td>
          <td><%= coupon.confirmation_code %></td>
          <td><%= coupon.created_at.strftime("%b %e, %Y") %></td>
          <td class="small_text" width="225"><%= coupon.name %></td>
          <td><%= number_to_currency coupon.deal.price %></td>
          <% if coupon.biz_used? %>
            <td style="color: green;"><%= "&#10004;" if coupon.biz_used? %></td>
          <% else %>
            <td><%= check_box_tag "#{coupon.kgb_coupon? ? "kgb_coupons" : "coupons"}[#{coupon.id}]" %></td>
          <% end %>
          <% if @any_coupon_codes %>
            <td><%= coupon.coupon_code %></td>
          <% end %>
          <td class="coupon_source_<%= coupon.kgb_coupon? ? "kgb" : "wtd" %>"><%= coupon.kgb_coupon? ? "kgb" : "WTD" %></td>
        </tr>
      <% end %>    

      <% @unsortable_coupons.each do |unsortable_coupon| %>
        <tr>
          <td class="align_left" colspan="2"><%= unsortable_coupon.recipient %><%= " <strong class='small_text'>(from " + unsortable_coupon.user.customer.name + ")</strong>" if unsortable_coupon.gift? %></td>
          <td><%= unsortable_coupon.confirmation_code %></td>
          <td><%= unsortable_coupon.created_at.strftime("%b %e, %Y") %></td>
          <td class="small_text" width="225"><%= unsortable_coupon.name %></td>
          <td><%= number_to_currency unsortable_coupon.deal.price %></td>
          <% if unsortable_coupon.biz_used? %>
            <td style="color: green;"><%= "&#10004;" if unsortable_coupon.biz_used? %></td>
          <% else %>
            <td><%= check_box_tag "#{unsortable_coupon.kgb_coupon? ? "kgb_coupons" : "coupons"}[#{unsortable_coupon.id}]" %></td>
          <% end %>
          <% if @any_coupon_codes %>
            <td><%= unsortable_coupon.coupon_code %></td>
          <% end %>
          <td class="coupon_source_<%= unsortable_coupon.kgb_coupon? ? "kgb" : "wtd" %>"><%= unsortable_coupon.kgb_coupon? ? "kgb" : "WTD" %></td>
        </tr>
      <% end %>    
    </table>
    <div class="print_this"><%= link_to "Print this Report", "javascript:print()" %></div>
    <div class="commit clear"><%= submit_tag "Redeem Coupons", :class => "submit primary" %></div>
  <% end %>
<% else %>
  <div class="section_content"><p>
    <% if (params[:all] == 'no' or params[:all].blank?) and params[:q].blank? %>
      <strong class="notice">How to Use:</strong> Select a deal and search by Customer Name or Coupon Confirmation Number. <br>You can also show all purchases (may take 2-3 minutes to display list).
    <% else %>
      <span class="fieldWithErrors">Sorry, no purchases found for <%= @type %> '<%= params[:q] %>'.</span> You can search partial last name. <br>You can also show all purchases (may take 2-3 minutes to display list).
    <% end %>
  </p></div>
<% end %>
<br>
<div class="bottom_link_next_page">
  <%= link_to "Back to Home", business_home_path %>
</div>
