<% content_for :sub_nav do %>
  <% @no_sub_nav = true %>
  <br><br>
<% end %>

<% form_tag nil, :method => :get do %>
  <label for="q"><strong>Email</strong> or <strong>Confirmation Number</strong>:</label>
  <%= text_field_tag 'q' %>
  <%= submit_tag 'search' %>
<% end %>
<br><br>

<% if @type %>
  <h2><%= pluralize @coupons.size, "Coupon" %> matching <%= @type %> '<%= params[:q] %>'</h2>
<% else %>
  <h2>Last 20 Coupons</h2>
<% end %>


<table>
  <tr>
    <th>Deal</th>
    <th>User</th>
    <th>Coupon Holder</th>
    <th>Purchase</th>
    <th>Name</th>
    <th>Active</th>
    <th>Emailed</th>
    <th>Printed</th>
    <th>Used</th>
    <th>Mobile Used</th>
    <th>Used (biz)</th>
    <th>Confirmation Code</th>
    <th>Coupon Code</th>
  </tr>

<% @coupons.each do |coupon| %>
  <tr>
    <td><%=h coupon.deal_id %></td>
    <td><%=h coupon.user.email %></td>
    <td><%=h coupon.recipient %></td>
    <td><%= link_to coupon.purchase_id, admin_purchase_path(coupon.purchase_id) %></td>
    <td><%=h coupon.name %></td>
    <td style="color: green;"><%= "&#10004;" if coupon.active? %></td>
    <td style="color: green;"><%= "&#10004;" if coupon.emailed? %></td>
    <td style="color: green;"><%= "&#10004;" if coupon.printed? %></td>
    <td style="color: green;"><%= "&#10004;" if coupon.used? %></td>
    <td style="color: green;"><%= "&#10004;" if coupon.mobile_used? %></td>
    <td style="color: green;"><%= "&#10004;" if coupon.biz_used? %></td>
    <td><%=h coupon.confirmation_code %></td>
    <td><%=h coupon.coupon_code %></td>
    <td><%= link_to 'View', voucher_path(coupon.access_token) %></td>
    <td><%= link_to 'Gift', edit_admin_coupon_path(coupon) %></td>
    <td><%= link_to "Activate", admin_activate_coupons_path(coupon) if coupon.deal.promotion.quota_met? and !coupon.active? %></td>
    <td><%= link_to 'Refund', new_admin_refund_path(:coupon_to_refund => coupon.id) %></td>
  </tr>
<% end %>
</table>

&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to "Show next 20", admin_coupons_path(:offset => params[:offset].to_i + 20) %>