<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>(Admin) ::: <%= controller.controller_name.capitalize %> - <%= controller.action_name %></title>
 
  <%= stylesheet_link_tag 'reset', 'admin' %>
  <%= stylesheet_link_tag 'reset', 'print', :media => "print" %>

  <%= stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/redmond/jquery-ui.css" %>
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js", "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.min.js", "application.js" %>
</head>
<body>
  <div class="header">
    <% if current_user_session %>
      <p>You <span>are logged in</span> as <%= current_user_session.user.email %>. (<%= link_to'logout', logout_path %>)</p>
    <% else %>  
      <p>You are not logged in! (<%= link_to 'login', login_path %> or <%= link_to 'register', new_customer_path %>)</p>
    <% end %>
     <h1>WTD Admin</h1>
  </div>

  <% if current_user and (current_user.staff? or current_user.accountant?) %>
    <ul id="nav">
      <% if current_user and current_user.admin? %>
        <li>Main
          <ul>
            <li><%= link_to "Promotions", admin_promotions_path %></li>
            <li><%= link_to "Deals", admin_deals_path %></li>
            <li><%= link_to "Purchases", admin_purchases_path %></li>
            <li><%= link_to "Refunds", admin_refunds_path %></li>
            <li><%= link_to "Voids", admin_voids_path %></li>
            <li><%= link_to "Coupons", admin_coupons_path %></li>
            <% if current_user and current_user.admin? %><li><%= link_to "Sidebar Promotions", admin_sidebar_promotions_path %></li><% end %>
          </ul>
        </li>
      <% end %>
      
      <% if current_user and current_user.accountant? %>
        <li>Dashboards
          <ul>
            <li><%= link_to "Main", admin_dashboards_path %></li>
	      	<% if current_user and current_user.admin? %>
            <li><%= link_to "Promotions", admin_promotions_dashboard_path %></li>
            <li><%= link_to "Washingtonian", admin_washingtonian_dashboard_path %></li>
            <li><%= link_to "Affiliates", admin_affiliates_dashboard_path %></li>
            <li><%= link_to "Affiliate Lifetime", admin_affiliate_lifetime_dashboard_path %></li>
            <li><%= link_to "Partners", "/admin/dashboards?partner_id=2" %></li>
            <li><%= link_to "Source Report", admin_source_report_dashboard_path %></li>
			<% end %>
            <li><%= link_to "Earn Out Report", admin_earnout_dashboard_path %></li>
          </ul>
        </li>
      <% end %>
      
      <% if current_user and current_user.admin? %>
      <li>CMS
        <ul>
          <li><%= link_to "Contents", admin_contents_path %></li>
          <li><%= link_to "Newsletter", admin_newsletters_path %></li> 
          <li><%= link_to "Events", admin_events_path %></li>
          <li><%= link_to "Shoutouts", admin_shoutouts_path %></li>
          <li><%= link_to "Items", admin_items_path %></li>
          <li><%= link_to "Raffles", admin_raffles_path %></li>
        </ul>
      </li>
      <% end %>
      
      <% if current_user and current_user.admin? %>
        <li>Credit
          <ul>
            <li><%= link_to "Credit Profile", admin_credit_profile_path %></li>
            <% if current_user and current_user.admin? %><li><%= link_to "Promotion Codes", admin_promotion_codes_path %></li><% end %>
            <li><%= link_to "Credits", admin_credits_path %></li>
          </ul>
        </li>
      
        <li>Users
          <ul>
            <% if current_user and current_user.admin? %><li><%= link_to "Users", admin_users_path %></li><% end %>
            <li><%= link_to "Customers", admin_customers_path %></li>
            <% if current_user and current_user.admin? %><li><%= link_to "Admins", admin_admins_path %></li><% end %>
            <% if current_user and current_user.admin? %><li><%= link_to "User Reviews", admin_user_reviews_path %></li><% end %>
          </ul>
        </li>

        <% if current_user and current_user.admin? %>
        <li>Stats
          <ul>
            <li><%= link_to "Top Purchasers", '/admin/stats/top_purchasers' %></li>
            <li><%= link_to "Promotion Zip Codes", '/admin/stats/promotion_zipcodes' %></li>
            <li><%= link_to "Credit Used", '/admin/stats/monthly_credit' %></li>
            <li><%= link_to "Zip Code Counts", '/admin/stats/zipcode_counts' %></li>
          </ul>
        </li>
        <% end %>
        
        <% if current_user and current_user.admin? %>
        <li>Carts
          <ul>
            <li><%= link_to "Recent Carts", admin_carts_path %></li>
            <li><%= link_to "Clear Carts", admin_clear_carts_path(:id => 0), :confirm => 'Are you sure?' %></li>
          </ul>
        </li>
        <% end %>

        <li>Business
          <ul>
            <li><%= link_to "Businesses", admin_businesses_path %></li>                
            <% if current_user and current_user.admin? %><li><%= link_to "Origins", admin_origins_path %></li><% end %>
            <% if current_user and current_user.admin? %><li><%= link_to "Business Payments", admin_business_payments_path %></li><% end %>
          </ul>
        </li>          
      <% end %>
    </ul>

    <% unless @no_sub_nav %>
      <ul id="sub_nav">
        <%= yield :sub_nav %>
      </ul>
    <% end %>
    
  <% end %>

  <% unless flash[:notice].blank? and flash[:error].blank? %>
    <div class="flash">
      <% unless flash[:error].blank?  %><p class="error"><%= flash[:error] %></p><% end %>
      <% unless flash[:notice].blank? %><p class="notice"><%= flash[:notice] %></p><% end %>
    </div>
  <% end %>

  <% if current_user and current_user.accountant? %>
    <p class="error"><strong>WARNING:</strong> Please do not run reports between 7:00 AM and 2:00 PM (peak times).  Doing so could jeopardize the WTD system.</p>
  <% end %>
  
  
  <%= yield %>
  
  <p class="copyright">WTD.  Copyright 2010</p>


  <script type="text/javascript" charset="utf-8">
    $("#nav > li").hover(
      function () {
        $(this).find('ul').show();
      },
      function () {
        $(this).find('ul').hide();
      }
    );
  </script>

</body>
</html>
