<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>(Admin) ::: <%= controller.controller_name.capitalize %> - <%= controller.action_name %></title>
 
  <%= stylesheet_link_tag 'reset', 'admin' %>
  <%= stylesheet_link_tag 'reset', 'print', :media => "print" %>

  <%= stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/redmond/jquery-ui.css" %>
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js", "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.min.js", "application.js" %>
</head>
<body>
  <div class="header">
    <% if current_user_session %>
      <p>You <span>are logged in</span> as <%= current_user_session.user.email %>. (<%= link_to'logout', logout_path %>)</p>
    <% else %>  
      <p>You are not logged in! (<%= link_to 'login', login_path %> or <%= link_to 'register', new_customer_path %>)</p>
    <% end %>
     <h1>WTD Admin <a href="/admin/dashboard" style="font-size:50%">(admin dashboard)</a></h1>
  </div>

  <% if current_user and current_user.staff? %>
    <ul id="nav">
      <li>WTD
        <ul>
          <li><%= link_to "Promotions", admin_promotions_path %></li>
          <li><%= link_to "Deals", admin_deals_path %></li>
          <li><%= link_to "Purchases", admin_purchases_path %></li>
          <li><%= link_to "Refunds", admin_refunds_path %></li>
          <li><%= link_to "Coupons", admin_coupons_path %></li>
          <li><%= link_to "Sidebar Promotions", admin_sidebar_promotions_path %></li>
        </ul>
      </li>

      <% if current_user and current_user.admin? %>
        <li>Dashboards
          <ul>
            <li><%= link_to "Main", admin_dashboards_path %></li>
            <li><%= link_to "Promotions", admin_promotions_dashboard_path %></li>
            <li><%= link_to "Washingtonian", admin_washingtonian_dashboard_path %></li>
            <li><%= link_to "Affiliates", admin_affiliates_dashboard_path %></li>
            <li><%= link_to "Affiliate Lifetime", admin_affiliate_lifetime_dashboard_path %></li>
            <li><%= link_to "Partners", admin_partners_dashboard_path %></li>
            <li><%= link_to "Source Report", admin_source_report_dashboard_path %></li>
          </ul>
        </li>
      <% end %>
      
      <li>CMS
        <ul>
          <li><%= link_to "Contents", admin_contents_path %></li>
          <li><%= link_to "Newsletter", admin_newsletters_path %></li> 
          <li><%= link_to "Events", admin_events_path %></li>
          <li><%= link_to "Shoutouts", admin_shoutouts_path %></li>
          <li><%= link_to "Items", admin_items_path %></li>
          <li><%= link_to "Raffles", admin_raffles_path %></li>
        </ul>
      </li>
      
      <li>Credit
        <ul>
          <li><%= link_to "Credit Profile", admin_credit_profile_path %></li>
          <li><%= link_to "Promotion Codes", admin_promotion_codes_path %></li>
          <li><%= link_to "Credits", admin_credits_path %></li>
        </ul>
      </li>
      
      <li>Users
        <ul>
          <li><%= link_to "Users", admin_users_path %></li>
          <li><%= link_to "Customers", admin_customers_path %></li>
          <li><%= link_to "Admins", admin_admins_path if current_user and current_user.admin? %></li>
          <li><%= link_to "User Reviews", admin_user_reviews_path if current_user and current_user.admin? %></li>
        </ul>
      </li>

      <li>Stats
        <ul>
          <li><%= link_to "Top Purchasers", '/admin/stats/top_purchasers' %></li>
          <li><%= link_to "Promotion Zip Codes", '/admin/stats/promotion_zipcodes' %></li>
          <li><%= link_to "Credit Used", '/admin/stats/monthly_credit' %></li>
          <li><%= link_to "Zip Code Counts", '/admin/stats/zipcode_counts' %></li>
        </ul>
      </li>
        
      <% if current_user and current_user.admin? %>
      <li>Carts
        <ul>
          <li><%= link_to "Recent Carts", admin_carts_path %></li>
          <li><%= link_to "Clear Carts", admin_clear_carts_path(:id => 0), :confirm => 'Are you sure?' %></li>
        </ul>
      </li>
      <% end %>

      <li>Business
        <ul>
          <li><%= link_to "Businesses", admin_businesses_path %></li>                
          <li><%= link_to "Origins", admin_origins_path if current_user and current_user.admin? %></li>
          <li><%= link_to "Business Payments", admin_business_payments_path if current_user and current_user.admin? %></li>
        </ul>
      </li>          
    </ul>

    <% unless @no_sub_nav %>
      <ul id="sub_nav">
        <%= yield :sub_nav %>
      </ul>
    <% end %>
    
  <% end %>

  <% unless flash[:notice].blank? and flash[:error].blank? %>
    <div class="flash">
      <% unless flash[:error].blank?  %><p class="error"><%= flash[:error] %></p><% end %>
      <% unless flash[:notice].blank? %><p class="notice"><%= flash[:notice] %></p><% end %>
    </div>
  <% end %>

  <%= yield %>

  <p class="copyright">What's the Deal.  Copyright 2010</p>


  <script type="text/javascript" charset="utf-8">
    $("#nav > li").hover(
      function () {
        $(this).find('ul').show();
      },
      function () {
        $(this).find('ul').hide();
      }
    );
  </script>

</body>
</html>
