<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>What's The Deal - <%= "*************** PLAYTIME on #{RAILS_ENV.upcase} *************** - " if (RAILS_ENV == 'staging' or RAILS_ENV == 'development') %><%= yield :page_title %></title>
  <% if mobile %>
    <%= stylesheet_link_tag 'reset', 'mobile' %>
  <% else %>
    <%= stylesheet_link_tag 'reset', 'style' %>
    <%= stylesheet_link_tag 'reset', 'print', :media => "print" %>
    <!--[if IE]><%= stylesheet_link_tag 'ie' %><![endif]-->
    <script type="text/javascript" src="https://dealsurf.com/tracker.js?aid=4c570bd9b7441"></script>
    <%= javascript_include_tag 'jquery', :cache => true %>
    <% unless https? %>
      <script type="text/javascript" src="http://static.ak.fbcdn.net/connect.php/js/FB.Share"></script>
      <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
    <% end %>
  <% end %>
  <%= yield :head %>
  <link rel="apple-touch-icon-precomposed" href="https://sowhatsthedeal.com/apple-touch-icon-precomposed.png"  type="image/png" />
</head>


<body>
  <%= render :partial => (mobile ? '/layouts/header_m' : '/layouts/header') %>
  
  <div class="main_wrapper wrapper clearfix">  

    <div class="page_content with_sidebar <%= "more_great_deals" if current_page?(promotions_path) or current_page?(events_path) %> <%= "signup" if current_page?(signup_path) %>">
      <%= yield :errors %>
      
      <% unless flash[:notice].blank? and flash[:error].blank? %>
        <div class="flash">
          <% unless flash[:notice].blank? %><p class="notice"><%= flash[:notice] %></p><% end %>
          <% unless flash[:error].blank?  %><p class="error"><%= flash[:error] %></p><% end %>
        </div>
      <% end %>

      <%= yield %>
    </div>

    <% if params[:promo_signup] == 'yes' %>
      <%= render :partial => '/layouts/promo_signup' unless mobile %>
    <% else %>
      <%= render :partial => '/layouts/sidebar' unless mobile %>
    <% end %>
  </div> 

   <%= render :partial => '/layouts/footer' unless mobile %>  
   <%= render :partial => '/layouts/scripts' %>  
</body>
</html>