<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>(WTD | Merchant Account) ::: <%= controller.controller_name.capitalize %></title>
  <%= stylesheet_link_tag 'reset', 'business' %>
  <%= stylesheet_link_tag 'reset', 'business_print', :media => "print" %>
  <!--[if IE]><%= stylesheet_link_tag 'ie' %><![endif]-->
  <%= javascript_include_tag 'jquery', :cache => true %>
  <%= stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/ui-lightness/jquery-ui.css" %>
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js", "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.min.js" %>
  <link rel="apple-touch-icon-precomposed" href="https://sowhatsthedeal.com/apple-touch-icon-precomposed.png"  type="image/png" />
</head>


<body>
  <div class="wrapper header">
    <% if current_user %>
    <div class="wrapper clearfix">
      <div class="nav_wrapper clearfix">
        <ul class="main_nav">
          <li class="<%= 'current' if current_page? business_home_path %>"><%= link_to "Home", business_home_path %></li>
          <% if current_user and current_user.business_staff? %>
            <li class="<%= 'current' if current_page? business_purchases_path %>"><%= link_to "Purchases", business_purchases_path %></li>
            <li class="<%= 'current' if current_page? business_purchase_stats_path %>"><%= link_to "Demographics", business_purchase_stats_path %></li>
            <li class="<%= 'current' if current_page? business_mobile_redemptions_path %>"><%= link_to "Mobile Redemptions", business_mobile_redemptions_path %></li>
          <% end %>
          <% if current_user and current_user.business? and !current_user.business.promotions.empty? %>
            <li class="<%= 'current' if current_page? business_promotions_path %>"><%= link_to "Deals", business_promotions_path %></li>
            <li class="<%= 'current' if current_page? business_business_staffs_path %>"><%= link_to "My Staff", business_business_staffs_path %></li>
          <% end %>
        </ul>
      </div>

      <div class="account_nav">
        <div class="login_logout">
          <% if current_user_session %>
            <p><%= current_user_session.user.email %> (<%= link_to 'logout', logout_path %>)</p>
          <% end %>
          <% if current_user and current_user.business? %>
            <p>WTD Account <strong><%= "for #{current_user.business.name}" %></strong></p>
          <% elsif current_user and current_user.business_staff? %>
            <p>WTD Account <strong><%= "for #{current_user.business_staff.business.name}" %></strong></p>
          <% end %>
        </div>
      </div>
    </div>
    <% end %>
    <%= link_to "<h1>WTD DC</h1>", business_home_path, :id => 'logo' %>
  </div>
  
  <div class="main_wrapper wrapper clearfix">  
    <div class="page_content">
      <%= yield :errors %>

      <% unless flash[:notice].blank? and flash[:error].blank? %>
        <div class="flash">
          <% unless flash[:notice].blank? %><p class="notice"><%= flash[:notice] %></p><% end %>
          <% unless flash[:error].blank?  %><p class="error"><%= flash[:error] %></p><% end %>
        </div>
      <% end %>
      
      <%= yield %>
    </div>
  </div> 
  
  <p class="copyright">Copyright 2011 &copy; WTD, LLC</p>
</body>
</html>