<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Washingtonian Magazine Daily Deal - Powered by Whats The Deal - <%= "*************** PLAYTIME on #{RAILS_ENV.upcase} *************** - " if (RAILS_ENV == 'staging' or RAILS_ENV == 'development') %><%= yield :page_title %></title>
  <%= stylesheet_link_tag 'reset', 'style', 'washingtonian' %>
  <%= stylesheet_link_tag 'reset', 'print', :media => "print" %>
  <!--[if IE]><%= stylesheet_link_tag 'ie' %><![endif]-->
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
  <script type="text/javascript" src="http://dealsurf.com/tracker.js?aid=4c570bd9b7441"></script>
  <script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share" type="text/javascript"></script>
  <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
  <%= yield :head %>
</head>


<body>
  <iframe width="100%" height="173" scrolling="no" frameborder="0" src="/washingtonian_header.html"></iframe>
  
  <div class="washingtonian">
    
    <div class="main_wrapper wrapper clearfix">  

      <%= render :partial => "/layouts/washingtonian_sidebar" %>
      
      <div class="page_content with_sidebar <%= "more_great_deals" if current_page?(promotions_path) %> <%= "signup" if current_page?(signup_path) or current_page?(signup_with_source_path) %>">
        <%= yield :errors %>
    
        <% unless flash[:notice].blank? and flash[:error].blank? %>
          <div class="flash">
            <% unless flash[:notice].blank? %><p class="notice"><%= flash[:notice] %></p><% end %>
            <% unless flash[:error].blank?  %><p class="error"><%= flash[:error] %></p><% end %>
          </div>
        <% end %>

        <%= yield %>
      </div>
  
    </div> 

    <%= render :partial => '/layouts/footer'%>  
    <%= render :partial => '/layouts/scripts'%>  
  </div>
</body>


</html>
